{% extends 'base.html' %}

{% block content %}
{% load i18n %}

<h2 id="guides">
	{% translate "Guides" %}
	<a href="#guides" class="section-link">#</a>
</h2>

<p>
	{% translate "Her ligger alle de lækre guides, som er rare at have, når man involverer sig i driften af" context "Fredagscaféen" %} Fredagscaféen.
</p>
<p>
	{% translate "Vi forsøger at opdaterer dem løbende, men forstå at de ikke altid afspejler virkeligheden fuldt ud." %}
</p>

<div>
	{% for category, guides in guides %}
	<ul class="list-group pb-3">
		<li class="list-group-item list-group-item-secondary">{{ category }}</li>
		<li class="list-group-item pb-3">
			<ul>
				{% for guide in guides %}
					<li><a class="link-offset link-offset-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-primary" href="{{ guide.document.url }}">{{ guide.name }}</a></li>
				{% endfor %}
			</ul>
		</li>
	</ul>
	{% endfor %}
</div>

{% endblock %}
