{% extends 'base.html' %}

{% block content %}

<h2>Guides</h2>

<p>
	Her kommer alle de lækre guides til at ligge, som er rare at have når man involverer sig i driften af Fredagscaféen.
</p>
<p>
	Alle guides er desværre ikke kommet op endnu, da de forsvandt med den gamle wiki, men vi arbejder løbende på at få
	flere og flere op.
</p>

{% for category, guides in guides %}
<div class="panel panel-default">
	<div class="panel-heading">{{ category }}</div>
	<div class="panel-body">
		<ul>
			{% for guide in guides %}
				<li><a href="{{ guide.document.url }}">{{ guide.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endfor %}

{% endblock %}
