version: "3.7"

services:
  app:
    image: &app ghcr.io/fredagscafeen/web
    restart: always
    networks:
      - traefik
      - default
    volumes:
      - ./media:/app/media
      - ./.env:/app/.env
      - /var/run/cups:/var/run/cups
    labels:
      - traefik.enable=true
      - traefik.http.routers.fredagscafeen.rule=Host(`fredagscafeen.dk`)
      - traefik.http.services.fredagscafeen.loadbalancer.server.port=8000
    depends_on:
      - db
      - media
      - redis

  celery:
    image: *app
    command: ["celery", "--app=fredagscafeen", "worker", "--loglevel=INFO"]
    volumes:
      - ./.env:/app/.env
    depends_on:
      - app
      - redis
      - db

  celery-beat:
    image: *app
    command: ["./wait_for_app", "celery", "--app=fredagscafeen", "beat", "--loglevel=INFO", "--scheduler=django_celery_beat.schedulers:DatabaseScheduler"]
    volumes:
      - ./.env:/app/.env
    depends_on:
      - app
      - redis
      - db

  db:
    image: postgres:12
    volumes:
      - ./db_data:/var/lib/postgresql/data

  media:
    image: nginx:alpine
    volumes:
      - ./media:/usr/share/nginx/html
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.media-fredagscafeen.rule=Host(`media.fredagscafeen.dk`)
      - traefik.http.services.media-fredagscafeen.loadbalancer.server.port=80

  redis:
    image: redis:alpine

networks:
  traefik:
    external: true
