[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.0.*"
djangorestframework = "*"
coreapi = "*"
apiclient = "*"
dj-config-url = "*"
"django-bootstrap3" = "*"
django-filter = "*"
django-recaptcha = "*"
gunicorn = "*"
Markdown = "*"
Pillow = "*"
"psycopg2" = "*"
"urllib3" = "*"
whitenoise = "*"
django-ical = "*"
django-object-actions = "*"
django-extensions = "*"
ipython = "*"
requests-html = "*"
django-logentry-admin = {git = "https://github.com/yprez/django-logentry-admin", ref = "ac28f35a7b0eced676a8f16cbe52b65b415f7fd2"}
django-admin-views = "*"
django-easy-select2 = "*"

[dev-packages]

[requires]
python_version = "3.6"
