[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.*"
djangorestframework = "*"
coreapi = "*"
apiclient = "*"
dj-config-url = "*"
"django-bootstrap3" = "*"
django-filter = "*"
django-recaptcha = "*"
gunicorn = "*"
markdown = "*"
pillow = "*"
"psycopg2" = "*"
"urllib3" = "*"
whitenoise = "*"
django-ical = "*"
django-object-actions = "*"
django-extensions = "*"
ipython = "*"
requests-html = "*"
django-logentry-admin = "*"

[dev-packages]

[requires]
python_version = "3.6"
