django==5.*
python-dotenv
djangorestframework
dj-config-url
django-bootstrap-icons
django-bootstrap5
django-recaptcha
gunicorn
Pillow
psycopg2
whitenoise
django-ical
django-object-actions
django-extensions
ipython
requests-html
django-logentry-admin
django-cors-headers
django-bootstrap-datepicker-plus
django-constance[database]
iterfzf
celery[redis]
django-celery-beat
django-rosetta==0.10.1
lxml_html_clean
pydantic
importlib-metadata
cron-descriptor
typing-extensions
