django==3.*
python-dotenv
djangorestframework
dj-config-url
django-bootstrap-v5
django-recaptcha
gunicorn
Pillow
psycopg2
whitenoise
django-ical
django-object-actions
django-extensions
ipython
requests-html
django-logentry-admin
django-cors-headers
django-bootstrap-datepicker-plus
django-constance[database]
iterfzf
celery[redis]
django-celery-beat
django-rosetta==0.9.9
lxml_html_clean
django_bootstrap_icons==0.8.7
sorl-thumbnail==12.10
django-dprog-jfu
django-versatileimagefield
django-model-utils
Unidecode
