django==3.*
python-dotenv
djangorestframework
dj-config-url
django-bootstrap3
django-recaptcha
gunicorn
Pillow
psycopg2
whitenoise
django-ical
django-object-actions
django-extensions
ipython
requests-html
django-logentry-admin
django-cors-headers
django-bootstrap-datepicker-plus
django-constance[database]
iterfzf
-e git+https://github.com/Tyilo/django-admin-views.git@django-3#egg=django-admin-views
