{% extends "admin/base_site.html" %}
{% block content %}
{% load i18n %}
{% if form %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
	<input type="submit" value="{% translate "Submit" %}">
</form>
{% endif %}
{% if result %}
<h2>{% translate "Result" %}</h2>
{% if start %}
<p>{{ start }} - {{ end }}</p>
{% endif %}
<table>
	<thead>
		<tr>
			<th>#</th>
			<th>{% translate "Navn" %}</th>
			<th>{% translate "Forbrug" %}</th>
		</tr>
	</thead>
	<tbody>
		{% for name, value in result %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ name }}</td>
			<td>{{ value }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}
{% endblock %}
