{% extends 'unfold/layouts/skeleton.html' %}

{% load i18n static unfold %}

{% block bodyclass %}{{ block.super }}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block title %}
    {{ title }} | {{ site_title }}
{% endblock %}

{% block base %}
<div id="page" class="flex min-h-screen">

    <div class="flex w-full sm:w-96  flex-col justify-center px-8 py-12 bg-white dark:bg-base-900 flex-shrink-0">
        {% block content %}{% endblock %}
        {% include "unfold/helpers/unauthenticated_header.html" %}
    </div>

    {% if login_image %}
    <div class="relative overflow-hidden flex-1">
        <img
            src="{{ login_image }}"
            alt=""
            class="absolute inset-0 w-full h-full object-cover"
        >
    </div>
    {% endif %}

</div>
{% endblock %}
