{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap5 bootstrap_icons %}
{% load is_udlejning_with_user compare_udlejning_to_now %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block content %}
<h2 id="rental">
	{% translate "Reservation af fadølsanlæg" %}
	<a href="#rental" class="section-link">#</a>
</h2>
{% if udlejninger %}
<i>
	{% translate "Fadølsanlæggene er allerede reserveret følgende dage:" %}
</i>
<table class="table table-striped">
	<thead>
		<tr>
			<th class="col-md-4">{% translate "Dato" %}</th>
			<th class="col-md-2">{% translate "Reserveret af" %}</th>
			<th class="col-md-2">{% translate "Anlæg" %}</th>
			<th class="col-md-3">{% translate "Ansvarlige" %}</th>
			{% if user.is_staff %}
				<th class="hidden-xs col-md-1"></th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
    {% for udlejning in udlejninger %}
		{% with udlejningComparedToCurrentWeek=udlejning|compare_udlejning_to_now udlejningIsWithUser=udlejning|is_udlejning_with_user:user %}
		<tr>
			<td class="{% if udlejningIsWithUser %}bg-info{% endif %} {% if not udlejningComparedToCurrentWeek %}text-secondary{% endif %}">
				{{ udlejning.dateFrom }}
				{% if udlejning.dateTo %}
					- {{ udlejning.dateTo }}
				{% endif %}
			</td>
			<td class="{% if udlejningIsWithUser %}bg-info{% endif %} {% if not udlejningComparedToCurrentWeek %}text-secondary{% endif %}">
				{{ udlejning.whoReserved }}
			</td>
			<td class="{% if udlejningIsWithUser %}bg-info{% endif %} {% if not udlejningComparedToCurrentWeek %}text-secondary{% endif %}">
				{% if udlejning.draftBeerSystem %} {{ udlejning.get_draftBeerSystem_display }} {% else %} {% translate "Uspecificeret" %} {% endif %}{% translate "anlæg" %}
			</td>
			<td class="{% if udlejningIsWithUser %}bg-info{% endif %} {% if not udlejningComparedToCurrentWeek %}text-secondary{% endif %}">
				{% if udlejning.bartendersInCharge %}
					{% for bartender in udlejning.bartendersInCharge.all %}
						{{ bartender.name }}{% if not forloop.last %}, {% endif %}
					{% endfor %}
				{% else %}
					{% translate "Ikke angivet" %}
				{% endif %}
			</td>
			{% if user.is_staff %}
			<td class="{% if udlejningIsWithUser %}bg-info{% endif %}">
				<a class="common" href="/admin/udlejning/udlejning/{{ udlejning.id }}">
					{% translate "Edit" %}
				</a>
			</td>
			{% endif %}
		</tr>
		{% endwith %}
	{% endfor %}
	</tbody>
</table>
{% else %}
<div class="alert alert-light" role="alert">
  	{% translate "Anlæggene er p.t. ikke reserveret på noget tidspunkt." %}
	{% translate "Reservér et til dit arrangement" %}
	<a href="#renting" class="alert-link">{% translate "her" %}</a>.
</div>
{% endif %}

<h3 id="rules">
	{% translate "Regler for udlån" %}
	<a href="#rules" class="section-link">#</a>
</h3>
<p>
	<i>{% translate "Vi tager forbehold for eventuelle fejl, i de anførte regler." %}</i>
</p>
<p>
	{% translate "Hvis vores anlæg ikke allerede er udlånt, kan du låne det ved at udfylde ansøgninsformularen nederst på denne side." %}
	{% translate "Anlæg udlånes kun til" %} <b>{% translate "interne arrangementer" %}</b> {% translate "eller til" %} <b>{% translate "arrangementer med tilknytning til baren" %}</b>.
</p>
<p>
	<b>{% translate "Interne arrangementer" %}</b>:
	{% translate "Udelukkende arrangementer der finder sted på universitetet. Dette inkluderer:" %}
	<ul>
		<li>{% translate "Instittutets arrangementer" %}</li>
		<li>{% translate "Specialereceptioner" %}</li>
	</ul>
</p>
<p>
	<b>{% translate "Arrangementer med tilknytning" %}</b>:
	{% translate "Arrangementer der finder sted på universitetet eller andetsteds, kan være af privat natur. Dette inkluderer:" %}
	<ul>
		<li>{% translate "Eksterne virksomheder, der af en årsag har tilknytning til baren" %}</li>
		<li>{% translate "Arrangementer af bestyrelsesmedlemmer" %}</li>
		<li>{% translate "I nogle tilfælde, arrangementer af bartendere" %}</li>
	</ul>
</p>
<p>
	{% translate "Indtil videre dækker følgende regler for de to grupper" %}:
</p>
<p>
	<b>{% translate "Interne arrangermenter" %}</b>:
	{% translate "Forløber som det har gjort indtil nu, udlån inkluderer opstilling, kulsyre og skylning af anlægget, samt opvask af tilhørende kopper." %}
</p>
<p>
	<b>{% translate "Arrangementer med tilknytning" %}</b>:
	{% translate "Her inkluderer udlån udelukkende oplås og aflås af fadølsanlægget. Det vil sige at anlægget skal afhentes i Ada-0, og afleveres rengjort i Ada-0. Afleveringstid af anlægget skal aftales i dialog med den ansvarlige for det praktiske, og er ikke nødvendigvis samme dag." %}
</p>
<h4>
	{% translate "Anmod om udlejning i god tid" %}
</h4>
<p>
	{% translate "Når du låner et anlæg, skal der på udlåningsdagen samt tilbagelevering, være et bestyrelsesmedlem der står for det praktiske. Vi er alle frivillige og har studier og jobs ved siden af vorest bestyrelsesarbejde, og derfor kan vi ikke være sikre på at kunne stille et besyterelsesmedlem til rådighed." %}
	<br/>
	{% translate "Derfor skal du, for at være sikker på at kunne låne anlægget" %}, <b>{% translate "skrive mindst 7 dage i forvejen" %}</b>.
	{% translate "Vi vil derfor, senest 5 dage før, melde ud hvorvidt nogen i bestyrelsen har mulighed for at være der i en af de mulige tidsrum. Hvis ikke du skriver mindst 7 dage i forvejen, kan vi ikke garantere at vi kan melde ud hvorvidt udlejning er muligt i god tid, dog er det stadig muligt at kunne låne anlægget selv hvis man melder ud i dårlig tid, vi kan blot ikke garantere at der kommer et svar i god tid." %}
</p>
<h3 id="info">
	<span id="Generelle_informationer">
		{% translate "Generelle informationer" %}
	</span>
	<a href="#info" class="section-link">#</a>
</h3>
<ul>
	<li>
		{% translate "Der betales per åbnet fustage." %}
	</li>
	<li>
		{% translate "Vi kan skaffe fustager fra Aarhus Bryghus, så tag et kig på deres udvalg," %}
		<a class="common" href="https://aarhusbryghus.dk/vare-kategori/lej-fadoel/fadoelsudvalg/" rel="nofollow" target="_blank">{% translate "her" %}</a>,
		{% translate "og check hvad der eventuelt er i sæson." %}
	</li>
	<li>
		{% translate "Vores priser følger dem, Aarhus Bryghus har på deres hjemmeside, men vi tager forbehold for ændringer." %}
	</li>
	<li>
		{% translate "Vi sælger også Magners Cider på fustage, der koster 1500 kr. pr. fustage (incl. moms)." %}
	</li>
	<li>
		{% translate "Derudover kan vi også levere sodavand og chips. Sodavand koster 10 kr. pr. stk. og chips koster 20kr. pr. pose. Der betales igen pr. åbnet enhed." %}
	</li>
</ul>
<h3 id="renting">
	<span id="rentingform">
		{% translate "Ansøgninsformular" %}
	</span>
	<a href="#renting" class="section-link">#</a>
</h3>
<form method="post" action="/{{ LANGUAGE_CODE }}/udlejning/#rentingform">
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons %}
		{% translate "Indsend" as BUTTON_TEXT %}
		<button type="submit" class="btn btn-primary">
			<i>{% bs_icon 'send-fill' size='1.0em' %}</i> {{ BUTTON_TEXT }}
		</button>
	{% endbuttons %}
</form>
{% endblock %}
