{% extends 'base.html' %}

{% block content %}
{% load i18n %}

<h2 id="rental">
	{% translate "Reservation af projektor" %} &amp; {% translate "lærred" %}
	<a href="#rental" class="section-link">#</a>
</h2>

<h4>{% translate "Projektoren/lærredet" %} {% translate "er allerede reserveret følgende dage" %}</h4>

<ul>
	{% for u in object_list %}
		<li>{{ u.dateFrom }}, {% translate "reserveret af" %} {{ u.whoReserved }}</li>
	{% empty %}
		<li>{% translate "Projektoren/lærredet" %} {% translate "er pt ikke reserveret på noget tidspunkt" %}</li>
	{% endfor %}
</ul>

<p>
	{% translate "Hvis vores" %} {% translate "projektor/lærred" %} {% translate "ikke allerede er udlånt, kan du låne den ved at sende en mail til" %}
	<a rel="nofollow" class="link-offset link-offset-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-primary" href="mailto:best@fredagscafeen.dk">best@fredagscafeen.dk</a>.
	{% translate "Projektoren/lærredet" %} {% translate "kan kun lånes til arrangementer på instituttet." %}
</p>

{% endblock %}
