{% extends 'base.html' %}

{% block content %}

<h2>Reservation af højtalere</h2>

<h4>Højtalerne allerede reserveret følgende dage</h4>

<ul>
	{% for u in object_list %}
		<li>{{ u.dateFrom }}, reserveret af {{ u.whoReserved }}</li>
	{% empty %}
		<li>Højtalerne pt ikke reserveret på noget tidspunkt</li>
	{% endfor %}
</ul>

<p>
	Hvis vores højtalere ikke allerede er udlånt, kan du låne den ved at sende en mail til
	<a rel="nofollow" class="external text" href="mailto:best@fredagscafeen.dk">best@fredagscafeen.dk</a>.
	Højtalerne kan kun lånes til arrangementer på instituttet.
</p>

{% endblock %}
