{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap5 bootstrap_icons %}
{% load compare_udlejning_to_now is_udlejning_with_user %}

{% block content %}
<h2 id="rental">
	{% translate "Reservation af projektor" %} &amp; {% translate "lærred" %}
	<a href="#rental" class="section-link">#</a>
</h2>
{% if udlejningProjector %}
<i>
	{% translate "Projektoren/lærredet er allerede reserveret følgende dage:" %}
</i>
<table class="table table-striped">
	<thead>
		<tr>
			<th class="col-md-4">{% translate "Dato" %}</th>
			<th class="col-md-4">{% translate "Reserveret af" %}</th>
			<th class="col-md-3">{% translate "Ansvarlige" %}</th>
			{% if user.is_staff %}
				<th class="hidden-xs col-md-1"></th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
    {% for udlejning in udlejningProjector %}
		{% with udlejningComparedToCurrentWeek=udlejning|compare_udlejning_to_now udlejningIsWithUser=udlejning|is_udlejning_with_user:user %}
		<tr>
			<td class="{% if udlejningIsWithUser %}bg-info{% endif %} {% if not udlejningComparedToCurrentWeek %}text-secondary{% endif %}">
				<p>
					{{ udlejning.dateFrom }}
					{% if udlejning.dateTo %}
						- {{ udlejning.dateTo }}
					{% endif %}
				</p>
			</td>
			<td class="{% if udlejningIsWithUser %}bg-info{% endif %} {% if not udlejningComparedToCurrentWeek %}text-secondary{% endif %}">
				{{ udlejning.whoReserved }}
			</td>
			<td class="{% if udlejningIsWithUser %}bg-info{% endif %} {% if udlejningIsWithUser %}bg-info{% endif %} {% if not udlejningComparedToCurrentWeek %}text-secondary{% endif %}">
				{% if udlejning.bartendersInCharge %}
					{% for bartender in udlejning.bartendersInCharge.all %}
						{{ bartender.name }}{% if not forloop.last %}, {% endif %}
					{% endfor %}
				{% else %}
					{% translate "Ikke angivet" %}
				{% endif %}
			</td>
			{% if user.is_staff %}
			<td class="{% if udlejningIsWithUser %}bg-info{% endif %}">
				<a class="common" href="/admin/udlejning/udlejningprojector/{{ udlejning.id }}">
					{% translate "Edit" %}
				</a>
			</td>
			{% endif %}
		</tr>
		{% endwith %}
	{% endfor %}
	</tbody>
</table>
{% else %}
<div class="alert alert-light" role="alert">
  	{% translate "Projektoren/lærredet er pt. ikke reserveret på noget tidspunkt." %}
</div>
{% endif %}
<p>
	{% translate "Projektoren/lærredet kan kun lånes til arrangementer på instituttet." %}
</p>
<p>
	{% translate "Hvis vores projektor/lærred ikke allerede er udlånt, kan du låne den ved at sende en mail til" %}
	<a rel="nofollow" class="common" href="mailto:udlejning@{{ DOMAIN }}?subject={% translate "Reservation af projektor" %}">udlejning@{{ DOMAIN }}</a>.
</p>
{% endblock %}
