{% extends 'base.html' %}

{% block content %}
{% load i18n %}

<h2>{% translate "Reservation af Grill" %}</h2>

<h4>{% translate "Grillen" %} {% translate "er allerede reserveret følgende dage" %}</h4>

<ul>
	{% for udlejningGrill in udlejningerGrill %}
		<li>{{ udlejningGrill.dateFrom }}, {% translate "reserveret af" %} {{ udlejningGrill.whoReserved }}</li>
	{% empty %}
		<li>{% translate "Grillen" %} {% translate "er pt ikke reserveret på noget tidspunkt" %}</li>
	{% endfor %}
</ul>

<p>
	{% translate "Hvis vores" %} {% translate "grill" %} {% translate "ikke allerede er udlånt, kan du låne den ved at sende en mail til" %}
	<a rel="nofollow" class="external text" href="mailto:best@fredagscafeen.dk">best@fredagscafeen.dk</a>.
	{% translate "Grillen" %} {% translate "kan kun lånes til arrangementer på instituttet." %}
</p>
<p>
	{% translate "Mere info om grillen kommer senere." %}
</p>
<p>
	<b>{% translate "Indholdet af email med anmodning om udlån" %}</b>:
	{% translate "Når du kontakter Best for at låne grillen, skal der stå følgende" %}:
</p>
<ul>
	<li> {% translate "Hvor man ønsker grillen opstillet" %}</li>
	<li> {% translate "Hvornår man ønsker grillen opstiller (fra hvornår til ca. hvornår)" %}</li>
	<li> {% translate "Kontaktinformation" %}</li>
</ul>

{% endblock %}
