{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap5 bootstrap_icons %}
{% load is_udlejning_with_user compare_udlejning_to_now %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block content %}
<h2 id="rental">
	{% translate "Reservation af fadølsanlæg" %}
	<a href="#rental" class="section-link">#</a>
</h2>
{% if udlejninger %}
<i>
	{% translate "Fadølsanlæggene er allerede reserveret følgende dage:" %}
</i>
<table class="table table-striped">
	<thead>
		<tr>
			<th class="col-md-4">{% translate "Dato" %}</th>
			<th class="col-md-2">{% translate "Reserveret af" %}</th>
			<th class="col-md-2">{% translate "Anlæg" %}</th>
			<th class="col-md-3">{% translate "Ansvarlige" %}</th>
			{% if user.is_staff %}
				<th class="hidden-xs col-md-1"></th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
    {% for udlejning in udlejninger %}
		{% with udlejningComparedToCurrentWeek=udlejning|compare_udlejning_to_now udlejningIsWithUser=udlejning|is_udlejning_with_user:user %}
		<tr>
			<td class="{% if udlejningIsWithUser %}bg-info{% endif %} {% if not udlejningComparedToCurrentWeek %}text-secondary{% endif %}">
				{{ udlejning.dateFrom }}
				{% if udlejning.dateTo %}
					- {{ udlejning.dateTo }}
				{% endif %}
			</td>
			<td class="{% if udlejningIsWithUser %}bg-info{% endif %} {% if not udlejningComparedToCurrentWeek %}text-secondary{% endif %}">
				{{ udlejning.whoReserved }}
			</td>
			<td class="{% if udlejningIsWithUser %}bg-info{% endif %} {% if not udlejningComparedToCurrentWeek %}text-secondary{% endif %}">
				{% if udlejning.draftBeerSystem %} {{ udlejning.get_draftBeerSystem_display }} {% else %} {% translate "Uspecificeret" %} {% endif %}{% translate "anlæg" %}
			</td>
			<td class="{% if udlejningIsWithUser %}bg-info{% endif %} {% if not udlejningComparedToCurrentWeek %}text-secondary{% endif %}">
				{% if udlejning.bartendersInCharge %}
					{% for bartender in udlejning.bartendersInCharge.all %}
						{{ bartender.name }}{% if not forloop.last %}, {% endif %}
					{% endfor %}
				{% else %}
					{% translate "Ikke angivet" %}
				{% endif %}
			</td>
			{% if user.is_staff %}
			<td class="{% if udlejningIsWithUser %}bg-info{% endif %}">
				<a class="common" href="/admin/udlejning/udlejning/{{ udlejning.id }}">
					{% translate "Edit" %}
				</a>
			</td>
			{% endif %}
		</tr>
		{% endwith %}
	{% endfor %}
	</tbody>
</table>
{% else %}
<div class="alert alert-light" role="alert">
  	{% translate "Anlæggene er p.t. ikke reserveret på noget tidspunkt." %}
</div>
{% endif %}
<p>
	{% translate "Hvis vores anlæg ikke allerede er udlånt, kan du låne det ved at udfylde" %}
	<a class="common" href="#rentingform">{% translate "ansøgningsformularen" %}</a> {% translate "nederst på denne side." %}
</p>

<h3 id="rules">
	{% translate "Regler for udlån" %}
	<a href="#rules" class="section-link">#</a>
</h3>

<p>
	{% translate "Anlæg udlånes kun til" %} <b>{% translate "interne arrangementer" %}</b> {% translate "eller til" %} <b>{% translate "arrangementer med tilknytning til baren" %}</b>.
</p>

<div class="row">
	<div class="col-md-6 mb-3">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">{% translate "Interne arrangementer" %}</h5>
				<p class="card-text">
					{% blocktranslate %}
					Udlån inkluderer opstilling, kopper, kulsyre og skylning af anlægget,
					samt opvask af brugte kopper.
					{% endblocktranslate %}
				</p>
			</div>
			<div class="card-footer">
				{% blocktranslate %}
				Udelukkende arrangementer der finder sted på universitetet. Dette inkluderer:
				{% endblocktranslate %}
				<ul>
					<li>{% translate "Instituttets arrangementer" %}</li>
					<li>{% translate "Specialereceptioner" %}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-6 mb-3">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">{% translate "Arrangementer med tilknytning" %}</h5>
				<p class="card-text">
					{% blocktranslate %}
					Her inkluderer udlån udelukkende oplås og aflås af fadølsanlægget.
					Det vil sige at anlægget skal afhentes i Hopper-0, og afleveres rengjort i Hopper-0.
					{% endblocktranslate %}
				</p>
			</div>
			<div class="card-footer">
				{% blocktranslate %}
				Arrangementer der finder sted på universitetet eller andetsteds, kan være af privat natur. Dette inkluderer:
				{% endblocktranslate %}
				<ul>
					<li>{% translate "Eksterne virksomheder, der af en årsag har tilknytning til baren" %}</li>
					<li>{% translate "Arrangementer af bestyrelsesmedlemmer" %}</li>
					<li>{% translate "I nogle tilfælde, arrangementer af bartendere" %}</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<p>
	{% blocktranslate %}
	Vil man af andre grunde gerne låne anlægget, eller ønsker man også bartendere til bemanding af baren, kan man sende en forespørgelse til
	{% endblocktranslate %}
	<a class="common" href="mailto:best@{{ DOMAIN }}">best@{{ DOMAIN }}</a>.
</p>

<div class="card mb-3">
	<div class="card-body">
		<h5 class="card-title">{% translate "Anmod om udlejning i god tid" %}</h5>
		<p class="card-text">
			{% blocktranslate %}
			Når du låner et anlæg, skal der på udlåningsdagen samt ved tilbagelevering,
			være et bestyrelsesmedlem tilgængelig, der står for det praktiske og kunne låse op.
			Vi er alle frivillige og har studie og jobs ved siden af vores bestyrelsesarbejde,
			og vi kan derfor ikke garantere, at kunne stille et bestyrelsesmedlem til rådighed.
			{% endblocktranslate %}
		</p>
		<p class="card-text">
			{% translate "Derfor skal du, for at være sikker på at kunne låne anlægget" %},
			<b>{% translate "skrive mindst 7 dage i forvejen" %}</b>.
		</p>
	</div>
</div>

<h3 id="prices">
	{% translate "Priser" %}
	<a href="#prices" class="section-link">#</a>
</h3>

<p>
	<i>{% translate "Vi tager forbehold for eventuelle fejl, i de anførte priser." %}</i>
</p>

<div class="card mb-3">
	<div class="card-header">
		{% translate "Der betales pr. åbnet fustage." %}
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			{% translate "Vi kan skaffe fustager fra Aarhus Bryghus, så tag et kig på deres udvalg," %}
			<a class="common" href="https://aarhusbryghus.dk/vare-kategori/lej-fadoel/fadoelsudvalg/" rel="external" target="_blank">{% translate "her" %} {% bs_icon 'box-arrow-up-right' size='0.75em' %}</a>,
			{% translate "og check hvad der eventuelt er i sæson." %}<br>
			{% translate "Vores priser følger dem, Aarhus Bryghus har på deres hjemmeside, men vi tager forbehold for ændringer." %}
		</li>
		<li class="list-group-item">
			{% translate "Vi kan også skaffe Magners Cider på fustage for" %} <i>1500</i> kr. {% translate "pr. fustage." %}
		</li>
		<li class="list-group-item">
			{% translate "Pris for gas efter aftale." %}
		</li>
		<li class="list-group-item">
			{% translate "Derudover kan vi også levere sodavand og chips. Sodavand koster " %} <i>10</i> kr. {% translate "pr. stk. og chips koster " %} <i>20</i> kr. {% translate "pr. pose." %}
		</li>
	</ul>
	<div class="card-footer">
		{% translate "Priser er inklusiv moms." %}
	</div>
</div>

<h3 id="rentingform">
	{% translate "Ansøgninsformular" %}
	<a href="#rentingform" class="section-link">#</a>
</h3>
<form method="post" action="/{{ LANGUAGE_CODE }}/udlejning/#rentingform">
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons %}
		{% translate "Indsend" as BUTTON_TEXT %}
		<button type="submit" class="btn btn-primary">
			<i>{% bs_icon 'send-fill' size='1.0em' %}</i> {{ BUTTON_TEXT }}
		</button>
	{% endbuttons %}
</form>
{% endblock %}
