{% extends 'base.html' %}

{% load sub %}

{% block content %}

<h2>Krydslisteaktivitet</h2>

<p>Krydslisten er gjort op til og med barvagten d. {{ update_date }}.</p>

{% if object %}
<h3>Saldo: {{ object.balance_str }}</h3>
<h3>Total forbrug: {{ total_used }}</h3>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Dato</th>
			<th>Indsat</th>
			<th>Køb</th>
			<th>Saldo</th>
		</tr>
	</thead>
	<tbody>
		{% for entry in entries %}
		<tr{% if entry.added > 0 %} class="success"{% elif entry.balance <= credit_hold_limit %} class="danger"{% endif %}>
			<td>{{ entry.shift }}</td>
			<td>{{ entry.added }}</td>
			<td>{{ entry.used }}</td>
			<td>{{ entry.balance }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p><b>{{ user.email }} er ikke på krydslisten.</b></p>
{% endif %}

{% endblock %}
