{% extends "admin/base_site.html" %}

{% block content %}
<b>Printer:</b> {{ printer_name }} ({{ job_id }})
<br>
<b>Status:</b> <span id="job_status">Ukendt</span>

<script type="text/javascript" src="{% static 'js/jquery-4.0.0.min.js' %}"></script>

<script>
function updateStatus() {
	$.get('/api/print_status/{{ job_id }}/', function(data) {
		var status = data.status;
		var code = data.code;
		switch (status) {
			case 'done':
				$('#job_status').text('Færdig');
				break;
			case 'unknown':
				$('#job_status').text('Ukendt');
				break;
			case 'error':
				$('#job_status').text('Fejl: ' + code);
				break;
		}
	});
}
setInterval(updateStatus, 3000);
</script>
{% endblock %}
