{% extends "base.html" %}
{% load i18n %}
{% block title %}404{% endblock %}

{% block content %}
<h2 id="404">
    {% translate "Ikke fundet" %}
    <a href="#404" class="section-link">#</a>
</h2>

<p>{% translate "Du har ikke fundet det du søger." %}</p>

<p><a class="common" href="javascript:history.back()">{% translate "Kig dybere i dit hjerte" %}</a>,
{% translate "eller" %} <a class="common" href="/">{% translate "få dig en helt ny tilværelse" %}</a>. {% translate "Der er" %}
<a class="common" href="mailto:best@fredagscafeen.dk">{% translate "sjælestøtte til de værst ramte." %}</a></p>

{% endblock %}
