{% extends "base.html" %}
{% load i18n %}
{% block title %}404{% endblock %}

{% block content %}
<h1>{% translate "Ikke fundet" %}</h1>

<p>{% translate "Du har ikke fundet det du søger." %}</p>

<p><a href="javascript:history.back()">{% translate "Kig dybere i dit hjerte" %}</a>,
{% translate "eller" %} <a href="/">{% translate "få dig en helt ny tilværelse" %}</a>. {% translate "Der er" %}
<a href="mailto:best@fredagscafeen.dk">{% translate "sjælestøtte til de værst ramte." %}</a></p>

{% endblock %}
