<html lang="en" style="width: 80%; margin: auto;">
<head>
    <title>Fredagscaféen</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body align="center" style="margin: auto; margin: 50px;">
  <div>
    <h1 style="font-size: 5em; margin: 0;">
      500
    </h1>
    <p>
      Something went wrong.
    </p>
    <a href="/" style="text-decoration: none; color: white; font-weight: bold; background-color: #152ff5; padding: 7px; border-radius: 5px;">
      Go to the front page.
    </a>
  </div>
</body>
</html>
