{% extends 'base.html' %}

{% block content %}

<h2>Generel info</h2>

<p>Fredagscaféen befinder sig kælderen i Nygaard-bygningen på Institut for Datalogi, Helsingforsgade 14, 8200 Aarhus N.
Baren har åbent <em>alle</em> fredage fra klokken 15.00 til vi lukker.</p>

<hr>

<h2>Direktion</h2>
<p>Fredagscaféens direktion består af:</p>
<ul>
  <li>Frederik Brinck Truelsen</li>
  <li>Frederik Jacobsen</li>
  <li>Mathias Old Jensen</li>
</ul>

<hr>

<h2>Postadresse</h2>
<p>
Vores postadresse er:<br>
Fredagscaféen<br>
Åbogade 34<br>
8200 Aarhus N
</p>

<hr>

<h2>CVR</h2>
<p>Vores CVR-nr er: <a href="https://datacvr.virk.dk/data/visenhed?enhedstype=virksomhed&id=27973647">27973647</a></p>

<hr>

<h2>E-mail</h2>
Bestyrelsen kan kontaktes på <a href="mailto:best@fredagscafeen.dk">best@fredagscafeen.dk</a>



{% endblock %}
