{% extends 'base.html' %}

{% block content %}
{% load i18n %}
{% load static %}
{% load bootstrap5 bootstrap_icons %}

<h2 id="generalinfo">
    {% translate "Generel info" %}
    <a href="#generalinfo" class="section-link">#</a>
</h2>

<p>
    {% blocktranslate %}
    Fredagscaféen er en studenterdrevet bar på Institut for Datalogi, Aarhus Universitet,
    som siden 1993 har været et socialt samlingspunkt for studerende og ansatte på instituttet.
    Vi er kendt for vores store udvalg af specialøl, der kontinuerligt udskiftes.
    Derudover har vi fokus på at have noget for enhver smag og prisklasse, og vi har altid
    et stort udvalg af sodavand, cider, shots, glutenfri øl og alkoholfrie alternativer.
    Vi er samtidig en af de eneste fredagsbarer, der fast har fadøl fra
    {% endblocktranslate %}
    <a class="common" href="https://aarhusbryghus.dk/" rel="external" target="_blank">Aarhus Bryghus {% bs_icon 'box-arrow-up-right' size='0.75em' %}</a>.
    {% blocktranslate %}
    Tag endelig et kig på vores faste sortiment,
    {% endblocktranslate %}
    <a class="common" href="{% url 'prices' %}">{% translate "her" context "På linket her" %}</a>.
</p>
<p>
    {% blocktranslate %}
    Fredagscaféen drives af en frivillig bestyrelse, der består af studerende på instituttet,
    som også kan ses
    {% endblocktranslate %}
    <a class="common" href="{% url 'board' %}">{% translate "her" context "På linket her" %}</a>.
    {% blocktranslate %}
    Baren er non-profit, og overskuddet går til vedligeholdelse af baren og arrangementer for bartenderne.
    {% endblocktranslate %}
</p>

<div class="card mb-3">
    <div class="card-header pb-0">
        <h5 class="card-title">{% translate "Lokation" %}</h5>
    </div>
    <ul class="list-group list-group-flush py-2">
        <li class="list-group-item">
            Fredagscaféen {% translate "befinder sig kælderen i Nygaard-bygningen på Institut for Datalogi" %},
            <b>Finlandsgade 21, 8200 Aarhus N</b>.
        </li>
    </ul>
    <div>
        <iframe class="card-img-bottom google-maps" id="google-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4442.319456514069!2d10.187308076907637!3d56.17163165965389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464c3fc4cda7462f%3A0x4219610040f322c5!2sFredagscaf%C3%A9en!5e0!3m2!1sda!2sdk!4v1716252357825!5m2!1sda!2sdk" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header pb-0">
        <h5 class="card-title">{% translate "Åbningstider" %}</h5>
    </div>
    <div class="card-body">
        <p class="card-text">
            {% translate "Baren har åbent" %} <b><em>{% translate "alle" context "Baren har åbent alle fredage..." %}</em> {% translate "fredage fra klokken 15.00 til vi lukker." %}</b>
            {% translate "Når vi siger vi har åbent" %} <em>{% translate "alle" context "Baren har åbent alle fredage..." %}</em> {% translate "fredage, mener vi det. Uanset om det er helligdage, eksamensperioder eller sommerferie, så har vi åbent." %}
        </p>
        {% if shift_streak %}
            <p class="card-text">
                {% translate "P.t. har baren været åben" %} <b><i>{{ shift_streak.streak }}{% bs_icon 'fire' size='0.8em' %}</i></b> {% blocktranslate count c=shift_streak.streak %}uge{% plural %}uger{% endblocktranslate %} {% translate "i streg, siden" %} <b>{% translate "d." context "d. 1. i 1." %} {{ shift_streak.start_datetime|date:"j. F, Y" }}</b>.
            </p>
        {% elif longest_streak %}
            <p class="card-text">
                {% translate "Den længste streak baren har haft åben, er " %} <b>{{ longest_streak.streak }}</b> {% blocktranslate count c=longest_streak.streak %}uge{% plural %}uger{% endblocktranslate %} {% translate "i streg, fra" %} <b>{% translate "d." context "d. 1. i 1." %} {{ longest_streak.start_datetime|date:"j. F, Y" }}</b> {% translate "til" %} <b>{% translate "d." context "d. 1. i 1." %} {{ longest_streak.end_datetime|date:"j. F, Y" }}</b>.
            </p>
        {% endif %}
    </div>
</div>

<div class="card mb-3">
    <div class="card-header pb-0">
        <h5 class="card-title">{% translate "Postadresse" %}</h5>
    </div>
    <div class="card-body">
        <p class="card-text">
            {% translate "Vores postadresse er" %}:
        </p>
        <p class="card-text">
            Att. Fredagscaféen<br>
            C/O Aarhus Universitet<br>
            Åbogade 34,<br>
            8200 Aarhus N
        </p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header pb-0">
        <h5 class="card-title">{% translate "E-mail" %}</h5>
    </div>
    <div class="card-body">
        <p class="card-text">
            {% translate "Bestyrelsen kan kontaktes på" %} <a class="common" href="mailto:{{ BEST_MAIL }}">{{ BEST_MAIL }}</a>.
        </p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header pb-0">
        <h5 class="card-title">{% translate "CVR" %}</h5>
    </div>
    <div class="card-body">
        <p class="card-text">{% translate "Vores CVR-nr er" %}:
            <a class="common" href="https://datacvr.virk.dk/data/visenhed?enhedstype=virksomhed&id=27973647" rel="external" target="_blank">27973647 {% bs_icon 'box-arrow-up-right' size='0.75em' %}</a>.
        </p>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-6 col-xl-4 mb-3">
        <div class="card">
            <div class="card-header pb-0">
                <h5 class="card-title">{% translate "Logo" %}</h5>
            </div>
            <img src="{% static 'images/logo.png' %}" class="card-img-top p-5" alt="{% translate "Fredagscaféens logo" %}">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {% blocktranslate %}
                    Vores logo forestiller <i>Kaffeturingmaskinen</i>. En kaffekande, som bliver varmet af
                    den turingmaskine den står på. Ud af siderne løber det uendelige bånd fra turingmaskinen.
                    {% endblocktranslate %}
                    <p class="card-text pt-2">
                        <small class="text-body-secondary">
                            {% translate "Logoet er originalt tegnet af" %} <a class="common" href="https://thorehusfeldt.com/" target="_blank" rel="external">Thore Husfeldt {% bs_icon 'box-arrow-up-right' size='0.75em' %}</a>.
                        </small>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-xl-4 mb-3">
        <div class="card">
            <div class="card-header pb-0">
                <h5 class="card-title">{% translate "Fødselsdag" %}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {% blocktranslate %}
                    Det er Fredagscaféen's fødselsdag den første fredag i september måned.
                    {% endblocktranslate %}
                </li>
            </ul>
        </div>
    </div>
</div>

<h2 id="codeofconduct">
    {% translate "Adfærdskodeks" %}
    <a href="#codeofconduct" class="section-link">#</a>
</h2>

<div class="accordion" id="accordionCodeOfConduct">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                <h5 class="card-title">1. {% translate "Formål" %}</h5>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
            <div class="accordion-body">
                {% blocktranslate %}
                Fredagsbaren er et socialt arrangement for indskrevne studerende på Aarhus Universitet.
                Formålet er at skabe et trygt og hyggeligt fællesskab for alle deltagere.
                {% endblocktranslate %}
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                <h5 class="card-title">2. {% translate "Målgruppe" %}</h5>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                {% blocktranslate %}
                Fredagsbaren er i udgangspunktet for indskrevne studerende ved Aarhus Universitet.
                Gæster udefra er også velkomne, så længe de også respekterer retningslinjerne for adfærd herunder, samt dem fra
                {% endblocktranslate %}
                <a class="common" target="_blank" href="{% translate "https://cs.au.dk/da/om-institut-for-datalogi/code-of-conduct-adfaerdskodeks/" %}">{% translate "Institut for Datalogi" %}</a>.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                <h5 class="card-title">3. {% translate "Adfærd" %}</h5>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
                {% blocktranslate %}
                Alle deltagere skal respektere følgende grundlæggende retningslinjer:
                {% endblocktranslate %}
                <ul>
                    <li>{% translate "Opføre sig respektfuldt overfor de andre deltagende gæster og de frivillige bartendere." %}</li>
                    <li>{% translate "Undlad støjende, truende eller generende adfærd." %}</li>
                    <li>{% translate "Vær opmærksom på grænser - diskriminerende, krænkende eller på anden måde uacceptabel adfærd tolereres ikke." %}</li>
                    <li>{% translate "Følg gældende lovgivning, herunder regler om alkohol, rusmidler og rygning." %}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                <h5 class="card-title">4. {% translate "Sanktioner og bortvisning" %}</h5>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
            <div class="accordion-body">
                {% blocktranslate %}
                Arrangørerne forbeholder sig ret til at:
                {% endblocktranslate %}
                <ul>
                    <li>{% translate "Afvise eller bortvise personer, der ikke opfylder retningslinjerne for adfærd ovenfor." %}</li>
                    <li>{% translate "Nægte adgang til fremtidige arrangementer, hvis gentagne eller særligt grove overtrædelser finder sted." %}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                <h5 class="card-title">5. {% translate "Disciplinære foranstaltninger for studerende" %}</h5>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
            <div class="accordion-body">
                {% blocktranslate %}
                Indskrevne studerende, der forbryder sig mod AU's ordensregler, kan desuden blive omfattet
                af disciplinære foranstaltninger i henhold til
                {% endblocktranslate %}
                <a class="common" href="https://medarbejdere.au.dk/strategi/vedtaegter-og-regler-for-au/disciplinaere-foranstaltninger-overfor-studerende" rel="external" target="_blank" >
                    {% translate "Aarhus Universitet's ordensregler" %} {% bs_icon 'box-arrow-up-right' size='0.75em' %}</a>.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                <h5 class="card-title">6. {% translate "Rapportering af overtrædelser" %}</h5>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
            <div class="accordion-body">
                {% blocktranslate %}
                Henvendelser vedrørende ordensreglementet eller konkrete hændelser kan rettes til arrangørerne af fredagsbaren, eller direkte til bestyrelsen gennem
                {% endblocktranslate %}
                <a class="common" href="mailto:{{ BEST_MAIL }}">{{ BEST_MAIL }}</a>,
                {% blocktranslate %}
                eller specifikke medlemmer, hvis kontaktoplysninger kan findes
                {% endblocktranslate %}
                <a class="common" href="{% url 'board' %}">{% translate "her" context "På linket her" %}</a>.<br>
                {% blocktranslate %}
                Alle henvendelser vil blive behandlet fortroligt, og der vil blive taget hensyn til den enkeltes ønsker om anonymitet.
                Intet er for småt eller for stort til at blive taget op, og vi opfordrer alle til at henvende sig, hvis de oplever eller observerer noget, der strider imod ordensreglerne.
                {% endblocktranslate %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
