{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

<h2>Barplan</h2>

<table class="table table-striped tablesorter" id="items">
	<thead>
		<tr>
			<th class="hidden-xs">Dato</th>
			<th>Ansvarlig</th>
			<th class="hidden-xs">Bartendere</th>
			{% if user.is_authenticated %}
				<th class="hidden-xs"></th>
			{% endif %}
		</tr>
		</thead>
	<tbody>
    {% for shift in bartendershifts %}
		<tr>
            <td class="col-md-1">{{ shift.date | date:"d M" }}</td>
            <td class="col-md-3">{{ shift.responsible.name }}</td>
            <td class="col-md-7">
                {% for bartender in shift.other_bartenders.all %}
                    {{ bartender.name }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
			{% if user.is_authenticated %}
				<td class="hidden-xs col-md-1"><a href="/admin/bartenders/bartendershift/{{ shift.id }}">Edit</a></td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>

<a href="/barplan/shifts.ics">iCal feed</a>

<hr>

<h2>Pantvagter</h2>

<table class="table table-striped tablesorter" id="items">
	<thead>
		<tr>
			<th class="hidden-xs">Uge</th>
			<th>Ansvarlige</th>
			{% if user.is_authenticated %}
				<th class="hidden-xs"></th>
			{% endif %}
		</tr>
		</thead>
	<tbody>
    {% for shift in boardmemberdepositshifts %}
		<tr>
            <td class="col-md-1">{{ shift.start_date | date:"d M" }} - {{ shift.end_date | date:"d M" }}</td>
            <td class="col-md-10">
                {% for responsible in shift.responsibles.all %}
                    {{ responsible.name }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
			{% if user.is_authenticated %}
				<td class="hidden-xs col-md-1"><a href="/admin/bartenders/boardmemberdepositshift/{{ shift.id }}">Edit</a></td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>

<a href="/barplan/deposit_shifts.ics">iCal feed</a>

{% endblock %}
