{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}
{% load is_with_user %}

<h2>Barplan</h2>

<table class="table table-striped tablesorter" id="items">
	<thead>
		<tr>
			<th>Dato</th>
			<th>Ansvarlig</th>
			<th>Bartendere</th>
			{% if user.is_staff %}
				<th class="hidden-xs"></th>
			{% endif %}
		</tr>
		</thead>
	<tbody>
    {% for shift in bartendershifts %}
		<tr {% if shift|is_with_user:user %}style="background-color: skyblue;"{% endif %}>
            <td class="col-md-1">{{ shift.date | date:"d M" }}</td>
            <td class="col-md-3">{{ shift.responsible.name }}</td>
            <td class="col-md-7">
                {% for bartender in shift.other_bartenders.all %}
					{% if bartender.first_bartender_shift == shift %}<b title="Bartender's first shift">{{ bartender.name }}</b>{% else %}{{ bartender.name }}{% endif %}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
			{% if user.is_staff %}
				<td class="hidden-xs col-md-1"><a href="/admin/bartenders/bartendershift/{{ shift.id }}">Edit</a></td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>

<a href="/barplan/shifts.ics">iCal feed</a>

<hr>

<h2>Pantvagter</h2>

<table class="table table-striped tablesorter" id="items">
	<thead>
		<tr>
			<th>Uge</th>
			<th>Ansvarlige</th>
			{% if user.is_staff %}
				<th class="hidden-xs"></th>
			{% endif %}
		</tr>
		</thead>
	<tbody>
    {% for shift in boardmemberdepositshifts %}
		<tr {% if shift|is_with_user:user %}style="background-color: skyblue;"{% endif %}>
            <td class="col-md-2">{{ shift.start_date | date:"d M" }} - {{ shift.end_date | date:"d M" }}</td>
            <td class="col-md-9">
                {% for responsible in shift.responsibles.all %}
					{% if responsible.first_deposit_shift == shift %}<b title="Bartender's first deposit shift">{{ responsible.name }}</b>{% else %}{{ responsible.name }}{% endif %}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
			{% if user.is_staff %}
				<td class="hidden-xs col-md-1"><a href="/admin/bartenders/boardmemberdepositshift/{{ shift.id }}">Edit</a></td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>

<a href="/barplan/deposit_shifts.ics">iCal feed</a>

{% endblock %}
