<!doctype html>
<html>
<head>
    {% load staticfiles %}
    <title>Fredagscaféen</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />

    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
   
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/tablesorter/2.17.4/js/jquery.tablesorter.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <script src="{% static 'js/memes.js' %}"></script>
</head>
<body>
    <div class="container wrapper">
        <header class="banner hidden-xs">
            <a href="/">
                <h1>
                    <img src="{% static 'images/logo.png' %}" height="50">
                    Fredagscaféen
                </h1>
            </a>
        </header>

        <nav class="navbar navbar-default" style="background: none; border: none; box-shadow: none;">
            <div class="container-fluid">

                <div class="navbar-header" style="border-bottom: 1px solid #efefef;">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand visible-xs-inline" href="/" style="color: midnightblue;">
                        <img src="{% static 'images/logo.png' %}" height="20" style="display: inline-block;">
                        Fredagscaféen
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Forside</a></li>
                        <li><a href="/barplan">Barplan</a></li>
                        <li><a href="/bartenders">Bartendere</a></li>
                        <li><a href="/prices">Sortiment</a></li>

                        <li class="dropdown">
                            <a href="/udlejning" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Udlejning<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/udlejning">Udlejning af fadølsanlæg</a></li>
                                <li><a href="/udlejningGrill">Udlejning af grill</a></li>
                            </ul>
                        </li>

                        <li><a href="/guides">Guides</a></li>
                        <li><a href="https://www.facebook.com/fredagscafeen.dk/" target="_blank"><span class="glyphicon glyphicon-new-window"></span> Facebook</a></li>
                        <li><a href="/board">Bestyrelsen</a></li>
                        <li><a href="/contact">Kontakt</a></li>
                        <li><a href="/profile">Bartender profil</a></li>
                        {% if user.is_staff %}
                            <li><a href="/admin">Admin</a></li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </nav>

        {% load bootstrap3 %}
        {% bootstrap_messages %}

        {% block content %}{% endblock %}

    </div>

    <footer>
        <div class="container">
            <hr>
            Fredagscaféen er en fredagsbar for datalogi og IT på Aarhus Universitet.<br>
            1993-{% now "Y" %} Fredagscaféen
        </div>
    </footer>

</body>
</html>
