{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

<h2>Bestyrelsen</h2>
<div>
    <ul class="list-group">
    {% for boardmember in boardmembers %}
            <li class="list-group-item">

                <div style="display: flex; flex-direction: row; align-items: center;">
                        
                    {% if boardmember.image %}
                        <img src="{{ boardmember.image.url }}" height="75px"/>
                    {% else %}
                        <img src="{% static 'images/logo.png' %}" height="75px"/>
                    {% endif %}

                    
                    <span style="margin-left: 1em;">
                        <b>{{ boardmember.responsibilities }}</b>
                        <br>
                        {{ boardmember.bartender.name }} (<code>{{ boardmember.bartender.username }}</code>)<b> {{ boardmember.title }}</b>
                    </span>
                </div>
            </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
