{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

<h2>Bestyrelsen</h2>
<div>
    <ul class="list-group ">
    {% for boardmember in boardmembers %}
            <li class="list-group-item col-md-6">

                <div style="display: flex; flex-direction: row; align-items: center;">
                        
                    {% if boardmember.image %}
                    <div class="board-image" style="background-image: url({{ boardmember.image.url }});"></div>
                    {% else %}
                    <div class="board-image" style="background-image: url({% static 'images/logo.png' %});"></div>
                    {% endif %}
                    
                    <div style="margin-left: 1em;">
                        <b>{{ boardmember.responsibilities }}</b>
                        <br>
                        {{ boardmember.bartender.name }} (<code>{{ boardmember.bartender.username }}</code>)<b> {{ boardmember.title }}</b>
                    </div>
                </div>
            </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
