{% extends 'base.html' %}

{% block content %}

<h2>Generel info</h2>
<p>Fredagscaféen befinder sig kælderen i Nygaard-bygningen på Institut for Datalogi, Helsingforsgade 14, 8200 Aarhus N.
	Baren har åbent alle fredage fra klokken 15.00 til vi lukker.</p>
<h2>Postadresse</h2>
<p>
Vores postadresse er:<br>
Fredagscaféen<br>
Åbogade 34<br>
8200 Aarhus N
</p>

<h2>CVR</h2>
<p>Vores CVR-nr er: 27973647</p>

<h2>E-mail</h2>
Bestyrelsen kan kontaktes på <a href="mailto:best@fredagscafeen.dk">best@fredagscafeen.dk</a>

{% endblock %}
