{% include 'header.html' %}
{% include 'menu.html' %}
<h2>Guides</h2>

<p>
    Her kommer alle de lækre guides til at ligge, som er rare at have når man involverer sig i driften af Fredagscafeen.
</p>
<p>
    Alle guides er desværre ikke kommet op endnu, da de forsvandt med den gamle wiki, men vi arbejder løbende på at få
    flere og flere op.
</p>

<h4>Til bartendere:</h4>
<ul>
    <li><a href="/static/guides/barvagt.pdf">Guide til en standard barvagt</a></li>
    <li><a href="/static/guides/rensningafanlaeg.pdf">Guide til rensning af fadølsanlægget</a></li>
</ul>

<h4>Til bestyrelsesmedlemmer:</h4>
<ul>
    <li><a href="/static/guides/pantvagt.pdf">Guide til pantvagt</a></li>
    <li><a href="/static/guides/aarhusbryghus.pdf">Guide til Aarhus Bryghus ansvarlig</a></li>
    <li><a href="/static/guides/danskretursystem.pdf">Guide til pant ansvarlig</a></li>
    <li><a href="/static/guides/formand.pdf">Guide til formands posten</a></li>
    <li><a href="/static/guides/lagerbeholdning.pdf">Guide til lageret</a></li>
    <li><a href="/static/guides/pr.pdf">Guide til PR posten</a></li>
    <li><a href="/static/guides/specialoel.pdf">Guide til specialølansvarlig</a></li>
    <li><a href="/static/guides/udlejning.pdf">Guide til udlejningsansvarlig</a></li>
</ul>

<h4>Til alle:</h4>
<ul>
    <li><a href="/static/guides/vedtaegter_2014.pdf">Vedtægter</a></li>
    <li><a href="/static/guides/pizzaliste.pdf">Pizza listen</a></li>
</ul>

{% include 'footer.html' %}
