{% include 'header.html' %}
{% include 'menu.html' %}
<h2>Guides</h2>

<p>
    Her kommer alle de lækre guides til at ligge, som er rare at have når man involverer sig i driften af Fredagscafeen.
</p>
<p>
    Der er desværre ikke nogle guides endnu, da web ikke kan compile tex filerne på sin mac.
</p>

<!--
<p>
    Alle guides er desværre ikke kommet op endnu, da de forsvandt med den gamle wiki, men vi arbejder løbende på at få
    flere og flere op.
</p>

<h4>Til bartendere:</h4>
<ul>
    <li><a href="static/guides/">Guide til en standard barvagt</a></li>
</ul>

<h4>Til bestyrelsesmedlemmer:</h4>
<ul>
    <li></li>
</ul>
-->
{% include 'footer.html' %}
