{% extends 'base.html' %}

{% block content %}

{% load items_extras %}
{% load staticfiles %}


<div class="row" id="sortiment-row">
	<div class="col-sm-6">
		<h2>
			Sortiment 
			{% if items %}
			<div id="sortiment-count"> 
				   ({{ items | length }})				    
			</div>
			{% endif %}
		</h2>
	</div>

	{% if items %}			   				    
	<div class="col-sm-6" id="sortiment-search">	
		<input type="text" id="itemsSearchInput" placeholder="Søg">
	</div>
	{% endif %}
</div>


{% if items %}
<table class="table table-striped tablesorter" id="items">
	<thead>
		<tr>
			<th class="hidden-xs">Bryghus</th>
			<th>Navn</th>
			<th class="hidden-xs">Beholder</th>
			<th>Pris</th>
			{% if user.is_authenticated %}
				<th class="hidden-xs"></th>
			{% endif %}
		</tr>
		</thead>
	<tbody>
	{% for item in items %}
		<tr>
			<td class="hidden-xs">{{ item.brewery|default_if_none:"" }}</td>
			<td>{{ item.name }}</td>
			<td class="hidden-xs">{{ item.get_container_display }}</td>
			<td>{{ item.priceInDKK }}</td>
			{% if user.is_authenticated %}
				<td class="hidden-xs"><a href="/admin/items/item/{{ item.id }}">Edit</a></td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>

<script src="{% static 'js/sortimentSearch.js' %}"></script>

{% else %}

	<span>Sortimentet er desværre tomt &#9785;</span>

{% endif %}

{% endblock %}
