<div class="row">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li><a href="/">Forside</a></li>
            <li><a href="/barplan">Barplan</a></li>
            <li><a href="/bartenders">Bartendere</a></li>
            <li><a href="/prices">Sortiment</a></li>
            <li class="dropdown">
                <a href="/udlejning">Udlejning</a>
                <div class="dropdown-content">
                    <a href="/udlejning">Udlejning af fadølsanlæg</a>
                    <a href="/udlejningGrill">Udlejning af grill</a>
                </div>
            </li>
            <li><a href="/guides">Guides</a></li>
            <li><a href="https://www.facebook.com/fredagscafeen.dk/" target="_blank"><span class="glyphicon glyphicon-new-window"></span> Facebook</a></li>
            <li><a href="/board">Bestyrelsen</a></li>
            <li><a href="/contact">Kontakt</a></li>
        </ul>
    </div>
</div>

{% load bootstrap3 %}
{% bootstrap_messages %}
