<div class="row">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li><a href="/">Forside</a></li>
            <li><a href="/barplan">Barplan</a></li>
            <li><a href="/bartenders">Bartendere</a></li>
            <li><a href="/prices">Sortiment</a></li>
            <li><a href="/wiki/index.php/Reservation_af_fad%C3%B8lsanl%C3%A6g" target="_blank"><span class="glyphicon glyphicon-new-window"></span> Udlejning</a></li>
            <li><a href="/wiki/index.php/Main_Page" target="_blank"><span class="glyphicon glyphicon-new-window"></span> Wiki</a></li>
            <li><a href="https://www.facebook.com/fredagscafeen.dk/" target="_blank"><span class="glyphicon glyphicon-new-window"></span> Facebook</a></li>
            <li><a href="/board">Bestyrelsen</a></li>
            <li><a href="/contact">Kontakt</a></li>
        </ul>
    </div>
</div>
<div class="row">
