<!doctype html>
<html>
<head>
    {% load static %}
    <title>Fredagscaféen</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />

    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    
    {% include "jquery.html" %}
    {% include "bootstrap.html" %}

    <script src="{% static 'js/memes.js' %}"></script>
    {% block extrahead %}{% endblock %}
</head>
<body>
    {% block body_content %}{% endblock %}
</body>
</html>
