{% extends "admin/base_site.html" %}
{% block content %}
	<table>
		<tr>
			<th>Django key</th>
			<th>Beskrivelse</th>
			<th>Brugernavn</th>
			<th>Kode</th>
			<th>Link</th>
		</tr>
		{% for key, title, username, value, url in secrets %}
			<tr>
				<td><code>{{ key }}</code></td>
				<td>{{ title }}</td>
				<td>
					{% if username != None %}
						<code>{{ username }}</code>
					{% else %}
						-
					{% endif %}
				</td>
				<td>
					{% if value != None %}
						<code class="copyText">{{ value }}</code>
						<button class="copyButton">Copy</button>
					{% else %}
						<b>Missing from environment</b>
					{% endif %}
				</td>
				<td>
					{% if url != None %}
						<a href="{{ url }}">Login</a>
					{% else %}
						-
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
{% block scripts %}
<script>
var copyButtons = document.getElementsByClassName('copyButton');
for(var index=0; index < copyButtons.length; index++){
	var element = copyButtons[index];
	element.addEventListener('click', function(){
		console.log(element);
		var parent = element.parentElement;
		var text = parent.firstElementChild.textContent;
		navigator.clipboard.writeText(text).then(() => {
			/* Resolved - text copied to clipboard successfully */
		},() => {
			/* Rejected - text failed to copy to the clipboard */
		});
	});
}
</script>
{% endblock scripts %}
