{% extends "admin/base_site.html" %}
{% block scripts %}
<script>
  function CopyText(value) {
		var text = document.getElementById(value)
		text.select();
		document.execCommand('copy')
	}
</script>
{% endblock scripts %}
{% block content %}
	<table>
		<tr>
			<th>Django key</th>
			<th>Beskrivelse</th>
			<th>Brugernavn</th>
			<th>Kode</th>
			<th>Link</th>
		</tr>
		{% for key, title, username, value, url in secrets %}
			<tr>
				<td><code>{{ key }}</code></td>
				<td>{{ title }}</td>
				<td>
					{% if username != None %}
						<code>{{ username }}</code>
					{% else %}
						-
					{% endif %}
				</td>
				<td>
					{% if value != None %}
						<code id="{{ value }}">{{ value }}</code>
						<button type="submit" onclick="CopyText({{ value }})">Copy</button>
					{% else %}
						<b>Missing from environment</b>
					{% endif %}
				</td>
				<td>
					{% if url != None %}
						<a href="{{ url }}">Login</a>
					{% else %}
						-
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
