{% extends "admin/base_site.html" %}
{% block content %}
	<table>
		<tr>
			<th>Key</th>
			<th>Beskrivelse</th>
			<th>Værdi</th>
			<th>Link</th>
		</tr>
		{% for key, title, value, url in secrets %}
			<tr>
				<td><code>{{ key }}</code></td>
				<td>{{ title }}</td>
				<td>
					{% if value != None %}
						<code>{{ value }}</code>
					{% else %}
						<b>Missing from environment</b>
					{% endif %}
				</td>
				<td>
					{% if url != None %}
						<a href="{{ url }}">Login</a>
					{% else %}
						-
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
