{% extends 'base.html' %}

{% load bootstrap3 %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block content %}
<h2>
		Reservation af fadølsanlæg
</h2>
<h4>
		Fadølsanlæggene er allerede reserveret følgende dage
</h4>
<ul>
		{% for udlejning in udlejninger %}
		<li>
				{{ udlejning.dateFrom }},
                {% if udlejning.draftBeerSystem %} {{ udlejning.get_draftBeerSystem_display }} {% else %} Uspecificeret {% endif %} anlæg,
                reserveret af {{ udlejning.whoReserved }}
		</li>
		{% empty %}
		<li>
				Anlæggene er pt ikke reserveret på noget tidspunkt
		</li>
		{% endfor %}
</ul>
<h3>
		Regler for udlån
</h3>
<p>
		<i>
				Disse regler er under revision, og der kan opstå fejl og mangler..
		</i>
</p>
<p>
		Hvis vores anlæg ikke allerede er udlånt, kan du låne det ved at sende en mail
	til
		<a class="external text" href="mailto:best@fredagscafeen.dk" rel="nofollow">
				best@fredagscafeen.dk
		</a>
		.
	Anlæg udlånes kun til
		<b>
				interne arrangementer
		</b>
		eller til
		<b>
				arrangementer med tilknytning til baren
		</b>
		.
</p>
<p>
		<b>
				Interne arrangementer
		</b>
		: Udelukkende arrangementer der finder sted på
	universitetet. Dette inkluderer:
		<ul>
				<li>
						Instittutets arrangementer
				</li>
				<li>
						Specialereceptioner
				</li>
		</ul>
</p>
<p>
		<b>
				Arrangementer med tilknytning
		</b>
		:Arrangementer der finder sted på
	universitetet eller andetsteds, kan være af privat natur. Dette inkluderer:
		<ul>
				<li>
						Eksterne virksomheder, der af en årsag har tilknytning til baren
				</li>
				<li>
						Arrangementer af bestyrelsesmedlemmer
				</li>
				<li>
						I nogle tilfælde, arrangementer af bartendere
				</li>
		</ul>
</p>
<p>
		Indtil videre dækker følgende regler for de to grupper:
</p>
<p>
		<b>
				Interne arrangermenter
		</b>
		:
	Forløber som det har gjort indtil nu, udlån inkluderer opstilling, 1 rulle
	plast-krus (0,5 liters, 50 stk), kulsyre og skylning af anlægget.
</p>
<p>
		<b>
				Arrangementer med tilknytning
		</b>
		:
	Her inkluderer udlån udelukkende oplås og aflås af fadølsanlægget. Det vil
	sige at anlægget skal afhentes i Ada-0, og afleveres rengjort i Ada-0.
	Afleveringstid af anlægget skal aftales i dialog med den ansvarlige for det
	praktiske, og er ikke nødvendigvis samme dag.
</p>
<h4>
		Anmod om udlejning i god tid
</h4>
<p>
		Når du låner et anlæg, skal der på udlåningsdagen samt tilbagelevering, være
	et bestyrelsesmedlem der står for det praktiske. Vi er alle frivillige og har
	studier og jobs ved siden af vorest bestyrelsesarbejde, og derfor kan vi ikke
	være sikre på at kunne stille et besyterelsesmedlem til rådighed.
		<br/>
		Derfor skal du, for at være sikker på at kunne låne anlægget,
		<b>
				skrive
	mindst 7 dage i forvejen
		</b>
		. Vi vil derfor, senest 5 dage før, melde ud
	hvorvidt nogen i bestyrelsen har mulighed for at være der i en af de mulige
	tidsrum. Hvis ikke du skriver mindst 7 dage i forvejen, kan vi ikke garantere
	at vi kan melde ud hvorvidt udlejning er muligt i god tid, dog er det stadig
	muligt at kunne låne anlægget selv hvis man melder ud i dårlig tid, vi kan
	blot ikke garantere at der kommer et svar i god tid.
</p>
<h4>Vælg fadølsanlæg</h4>
<p>
    Fredagscafeen ejer 3 fadølsanlæg, hvoraf 2 udlejes. Når du vil leje et fadølsanlæg, skal du specificere hvilket anlæg du vil låne.<br>
    <b>Lille anlæg</b>: Er nemt at transportere, men har mindre kapacitet end det mellem anlæg.<br>
    <b>Mellem anlæg</b>: Kan kun udlejes på Katrinebjerg.
</p>
<h3>
		<span class="mw-headline" id="Generelle_informationer">
				Generelle informationer
		</span>
</h3>
<ul>
		<li>
				Der betales per åbnet fustage.
		</li>
		<li>
				Vores primære fadøl er
				<a class="external text" href="http://aarhusbryghus.dk/homepage/bestil-aarhus-fadoel/extra-pilsner/" rel="nofollow">
						Aarhus Ekstra Pilsner
				</a>
				, som kommer i 25 liters fustager. Prisen er 650 kr. pr. fustage
		(incl. moms)
		</li>
		<li>
				Udover den primære fadøl, kan man få de øl som står inde på Aarhus Bryghus'
		hjemmeside, som fast kan fås på fad. Dvs.
		<a class="external text" href="http://aarhusbryghus.dk/homepage/bestil-aarhus-fadoel/klosterbryg/" rel="nofollow">Klosterbryg</a>,
		<a class="external text" href="http://aarhusbryghus.dk/homepage/bestil-aarhus-fadoel/foraarsbryg/" rel="nofollow">Forårsbryg</a>,
		<a class="external text" href="http://aarhusbryghus.dk/homepage/bestil-aarhus-fadoel/celebration/" rel="nofollow">Celebration</a>
		og
		<a class="external text" href="http://aarhusbryghus.dk/homepage/bestil-aarhus-fadoel/blondie/" rel="nofollow">Blondie</a>
		(afhængig af sæson). Prisen er 800 kr. pr. fustage (incl. moms)
		</li>
		<li>
				Vi sælger også Weston Cider på fustage, der koster 1500kr. per fustage.
		</li>
		<li>
				Vi har et sortiment af special-øl tilgængeligt på: (det er ikke tilgængelig
		pt. men man kan skrive en mail til
				<a class="external text" href="mailto:best@fredagscafeen.dk" rel="nofollow">
						best@fredagscafeen.dk
				</a>
				)
		</li>
		<li>
				Derudover leverer vi også sodavand og chips. Sodavand koster 5 kr/stk og
		chips koster 20kr/pose, der betales pr. åbnet enhed.
		</li>
</ul>
<p>
		<b>
				Indholdet af email med anmodning om udlån
		</b>
		:
	Når du kontakter Best for at låne et fadølsanlæg, skal der stå følgende:
</p>
<ul>
		<li>
				Hvor bliver arrangementet afholdt
		</li>
        <li>
                Hvilket anlæg der vil lånes
        </li>
		<li>
				Hvornår skal anlægget afhentes/stilles op, og hvornår skal det
		afleveres/pilles ned
		</li>
		<li>
				Hvilke slags øl eller andre drikkevarer der ønskes
		</li>
		<li>
				Hvor mange fustager man ønsker leveret af hver type
		</li>
		<li>
				Hvem der betaler (hvem regningen skal sendes til).
		</li>
		<li>
				Hvordan der betales. Vi tilbyder også at fakturere til EAN-nummer
		(e-faktura) mod gebyr.
				<a class="external text" href="mailto:best@fredagscafeen.dk" rel="nofollow">
						Kontakt os
				</a>
				for at høre nærmere.
		</li>
		<li>
				Kontaktinformation for den event-ansvarlige
		</li>
</ul>


<form method="post" action="/udlejning/">
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons %}
		{% bootstrap_button "Indsend" button_type="submit" icon="send" button_class="btn-primary" %}
	{% endbuttons %}
</form>
{% endblock %}
