{% extends 'unfold/layouts/unauthenticated.html' %}

{% load i18n unfold %}

{% block title %}
    {{ title }} | {{ site_title }}
{% endblock %}

{% block content %}
    {% include "unfold/helpers/unauthenticated_title.html" with title=site_title subtitle=_('See you next time') %}

    <h1 class="font-semibold mb-4 text-font-important-light text-xl tracking-tight dark:text-font-important-dark">
        {% trans "You have been successfully logged out" %}
    </h1>

    <p class="leading-relaxed mb-10 text-font-default-light dark:text-font-default-dark">
        {% trans "Thanks for spending some quality time with the web site today." %}
    </p>

    {% url "admin:index" as login_url %}
    {% component "unfold/components/button.html" with href=login_url variant="primary" class="w-full" %}
        {% trans "Log in again" %} <span class="material-symbols-outlined relative right-0 transition-all group-hover:-right-1 text-sm">arrow_forward</span>
    {% endcomponent %}
{% endblock %}
