:root {
    --datblue: #152ff5;
}

.section-link {
    display: none;
    margin-left: 5px;
    text-decoration: none;
}

h2:hover .section-link, h3:hover .section-link, h4:hover .section-link, h5:hover .section-link, h6:hover .section-link {
    display: inline;
}

.board-image {
    height: 100px;
    width: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.card-hover:hover {
    border-color: var(--datblue);
}

.google-maps {
    margin-bottom: -6px;
    height: 300px;
}

.event-image {
    height: 200px;
    object-fit: cover;
}

.event-image-large {
    height: 200px;
    object-fit: cover;
}

.event-image-large:hover {
    opacity: 0.5;
}

.image-inverted {
    filter: brightness(0) invert(1);
}

.timeline {
    border-left: 1px solid var(--bs-secondary);
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
    background-color: var(--bs-secondary);
    left: -18px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}

.timeline .timeline-item-primary:after {
    background-color: var(--bs-primary);
}

/* Instead of the below Vootstrap classes one can use the class 'common' on links */
/* link-offset link-offset-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-primary */
a.common {
    color: var(--bs-primary);
    text-decoration: underline;
    text-decoration-color: transparent;
    position: relative;
}
a.common::before {
    content: "";
    position: absolute;
    left: -0.25em;
    top: 0;
    width: 0.5em;
    height: 100%;
    display: block;
    pointer-events: none;
}
a.common:hover::before {
    left: -0.5em;
}
a.common:hover {
    text-decoration-color: var(--datblue);
}
