:root {
    --datblue: #152ff5;
}

.section-link {
    display: none;
    margin-left: 5px;
    text-decoration: none;
}

h2:hover .section-link, h3:hover .section-link, h4:hover .section-link, h5:hover .section-link, h6:hover .section-link {
    display: inline;
}

.board-image {
    height: 100px;
    width: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.event-image {
    height: 200px;
    object-fit: cover;
}

.event-image-large {
    height: 200px;
    object-fit: cover;
}

.event-image-large:hover {
    opacity: 0.5;
}

.thumbnail {
    background-color: #151515;
    border-color: #4d4d4d;
}

.thumbnail:hover {
    border-color: #eee;
}

.thumbcap {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    img, span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        text-align: center;
        display: block;
        width:100%;
        margin-bottom:-100%;
    }
    .glyphicon {
        font-size: 50px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
    .caption {
        background-color: rgba(230, 230, 230, 0.5);
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        h5 small {
            white-space: nowrap;
        }
    }
}

.card-hover:hover {
    border-color: var(--datblue);
}

.google-maps {
    margin-bottom: -6px;
    height: 300px;
}

.timeline {
    border-left: 1px solid var(--bs-secondary);
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: var(--bs-secondary);
    left: -18px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}

.timeline .timeline-item-primary:after {
    background-color: var(--bs-primary);
}
