:root {
    --datblue: #152ff5;
  }

.banner h1 {
    color: var(--datblue);
    font-family: "Times New Roman", Times, serif;
    display: inline-block;
}

.logo {
    height: 50px;
    display: inline-block;
    padding-bottom: 12px;
}

.locale {
    float: right;
    margin: 10px;
    padding: 0px;
    height: 25px;
    border: solid;
    border-width: 0px;
    border-radius: 5px;
    border-color: white;
}

.center-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.navbar-nav {
    margin: 0px !important;
}

.navbar-brand {
    font-family: "Times New Roman", Times, serif;
}

.navbar-default .navbar-nav > li > a {
    color: #337ab7 !important;
}

.navbar-collapse {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.navbar-collapse li:hover {
    background-color: #eee;
}

.board-image {
    height: 100px;
    width: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

#sortiment-count {
    font-size: 0.8em;
    display: inline;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px;
    padding-bottom: 120px;
 }

footer {
    display: flex !important;
    align-items: center;
    text-align: center;
    height: 120px;
}

#sortiment-search input {
    border-radius: 48px;
    border: 1px solid #aaa;
    width: 200px;
    text-indent: 16px;
    height: 32px;
    outline: none;
}

#sortiment-search input:focus, #sortiment-search input:hover {
    border: 1px solid #337ab7;
}


@media screen and (min-width: 480px) {
    #sortiment-row {
        display: flex;
        align-items: center;
    }

    #sortiment-search {
        text-align: right;
    }
}


@media screen and (max-width: 480px) {
    #sortiment-search {
        display: flex;
    }

    #sortiment-search input {
        flex-grow: 1;
    }

    #items {
        font-size: 0.8em;
    }
}

#unavailable_dates_table {
    width: initial !important;
}
#unavailable_dates_table td {
    padding: 0 !important;
    user-select: none;
}
#unavailable_dates_table label {
    display: block !important;
    padding: 8px !important;
}

.google-maps {
    max-width: 600px;
    max-height: 450px;
    position: relative;
    padding-bottom: 450px;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.social-link {
    flex: right;
    padding: 0px;
    height: 25px;
    border: solid;
    border-width: 0px;
    border-radius: 5px;
    border-color: white;
}

.social-link:hover {
    opacity: 0.6;
}
