{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load is_bartender first_file %}

{% load bootstrap5 bootstrap_icons %}

{% block title %}{{ show_year }}{% endblock title %}

{% block canonical_url %}{% url 'year' year=show_year %}{% endblock canonical_url %}

{% block content %}

<div id="accordion">
	{% for year in years %}
		<div class="card mb-2">
			<div class="card-header">
				<div class="row">
					<div class="col-auto me-auto">
						<a class="fw-medium link-offset link-offset-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-primary" {% if year == show_year %}data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse{{year}}"{% else %}href="{{year}}"{% endif %} role="button">
							{{ year }}
						</a>
					</div>
					<div class="col-auto">
						{% if user.is_staff %}
							<a class="link-offset link-offset-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-primary" href="/admin/gallery/album/{{ period.id }}">
								{% translate "Edit" %}
							</a>
						{% endif %}
					</div>
				</div>
			</div>
			<ul id="collapse{{ year }}" class="list-group list-group-flush collapse{% if year == show_year %} show{% endif %}" data-bs-parent="#accordion" aria-labelledby="heading{{year}}">
                {% if year == show_year %}
                    <div class="row m-4">
                        {% for album in albums %}
                        {% ifchanged album.bartenderalbum %}{% if album.bartenderalbum and user|is_bartender %}
                        <div class="pt-3">
                            <hr>
                            <h4 class="" id="bartenderalbums">
                                {% translate "Bartenderarrangementer" %}
                                <a href="#bartenderalbums" class="section-link">#</a>
                            </h4>
                        </div>
                        {% endif %}{% endifchanged %}
                        {% if album.bartenderalbum and not user|is_bartender %}
                        {% else %}
                        <div class="col-xs-6 col-sm-4 col-md-3 mb-3">
                            <div class="card card-hover p-1">
                                {% if album.thumbnail %}
                                    <img class="card-img" src="{{ album.thumbnail.url }}" alt="{{ album.title }}">
                                {% else %}
                                    {% with firstFile=album|first_file %}
                                    {% if firstFile.type == "I" %}
                                    <img class="card-img" src="{{ firstFile.file.crop.253x253.url }}" alt="{{ album.title }}">
                                    {% else %}
                                    <img class="card-img" src="{% static 'images/datcafe_logo_blaa_square.png' %}" alt="{{ album.title }}">
                                    {% endif %}
                                    {% endwith %}
                                {% endif %}
                                <div class="card-img-overlay p-1">
                                    <h5 class="fs-6 text-light bg-secondary bg-opacity-50 p-3">
                                        {{ album.title }}
                                        <span class="badge text-bg-dark rounded-pill">
                                            {{ album.count }}
                                            {% blocktranslate count c=album.count %}
                                            billede
                                            {% plural %}
                                            billeder
                                            {% endblocktranslate %}
                                        </span>
                                    </h5>
                                </div>
                                <a class="card-link stretched-link " href="{% url 'album' year=album.year album_slug=album.slug %}"></a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </ul>
        </div>
    {% empty %}
        <div class="col-xs-12">
            <p>
                {% translate "Ingen albummer med billeder fundet." %}
            </p>
        </div>
    {% endfor %}
</div>

{% endblock content %}
