{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% load bootstrap5 bootstrap_icons %}

{% block title %}{{ show_year }}{% endblock title %}

{% block canonical_url %}{% url 'year' year=show_year %}{% endblock canonical_url %}

{% block content %}
<div>
  <div class="panel-group" id="accordion">
  {% for year in years %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            <a {% if year == show_year %} data-toggle="collapse" data-parent="#accordion" href="#collapse{{year}}"
               {% else %} href="{{year}}" {% endif %}>
            {{ year }}
          </a>
          {% if user.is_staff %}
            <a href="/admin/gallery/album/{{ period.id }}" class="pull-right">
              {% translate "Edit" %}
            </a>
          {% endif %}
        </h4>
      </div>
      <div id="collapse{{year}}" class="panel-collapse collapse{% if year == show_year %} in{% endif %}" role="tabpanel" aria-labelledby="heading{{year}}">
        {% if year == show_year %}
        <div class="panel-body panel-body-top">
          <div>
            <div class="col-xs-12">
            {% for album, firstFile in albumSets %}
              {% ifchanged album.eventalbum %}{% if not album.eventalbum %}
            </div>
            <div class="col-xs-12">
              <hr>
              <h4>{% translate "Årets gang" %}:</h4>
            </div>
            <div class="col-xs-12">
              {% endif %}{% endifchanged %}
              <div class="col-xs-6 col-sm-4 col-md-3">
                <a class="thumbnail" href="{% url 'album' year=album.year album_slug=album.slug %}">
                  <div class="thumbcap">
                    {% if firstFile.type == "I" %}
                      <img src="{{ firstFile.file.crop.253x253.url }}" alt="{{ album.title }}">
                    {% elif firstFile.type == "V" %}
                      <i>{% bs_icon "film" %}</i>
                    {% elif firstFile.type == "A" %}
                      {% bs_icon "volume-up" %}
                    {% elif firstFile.type == "O" %}
                      {% bs_icon "file-binary" %}
                    {% elif not firstFile %}
                      <img src="{% static 'images/logo.png' %}" alt="{{ album.title }}">
                    {% endif %}
                    <div class="caption">
                      <h5>{{ album.title }}
                        <small>{{ album.count }} {% translate "billede" %}{{ album.count|pluralize:"r" }}</small>
                      </h5>
                    </div>
                  </div>
                </a>
              </div> <!-- col-xs-6 thumb -->
              {% endfor %}
            </div>
          </div> <!-- row-->
        </div> <!-- panel-body -->
        {% endif %}
      </div> <!-- collapse{{year}} -->
    </div> <!-- panel panel-default  -->
  {% empty %}
    <div class="col-xs-12">
      <p>
        {% translate "Ingen albums med billeder fundet." %}
      </p>
    </div>
  {% endfor %}
  </div> <!-- panel-group -->
</div> <!-- row -->
{% endblock content%}
