{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap5 bootstrap_icons %}

{% block content %}

<p><a href="{% url 'admin:bartenders_poll_changelist' %}">Poll admin</a></p>

<p>Stemmeberettigede: <b>{{ votees.count }}</b></p>

<h2>Tilføj poll</h2>

<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
      {% translate "Gem" as BUTTON_TEXT %}
      <button type="submit" class="btn btn-primary" style="margin-top: 15px; margin-bottom: 15px;">
          <i>{% bs_icon 'floppy2' size='1.0em' %}</i> {{ BUTTON_TEXT }}
      </button>
  {% endbuttons %}
</form>

{% endblock %}
