{% extends 'base.html' %}

{% load static %}
{% load bootstrap3 %}

{% block extrahead %}
<script type="text/javascript">
$(function() {
    $('#unavailable_dates_table input').change(function(e) {
        $(this).closest('td').toggleClass('danger', this.checked);
    });

    var preventUnload = false;
    $('#info_form').submit(function(e) {
        preventUnload = false;
    });
    $('#info_form').change(function(e) {
        preventUnload = true;
    });
    window.addEventListener('beforeunload', function (e) {
        if (preventUnload) {
            e.preventDefault();
            e.returnValue = '';
        }
    });
});
</script>
{% endblock %}

{% block content %}

{% if object %}
<form method="post" id="info_form">
{% csrf_token %}
<p><b>Bartender status:</b>
{% if object.isActiveBartender %}
    Aktiv
    <button type="submit" class="btn btn-danger pull-right" name="deactivate">Bliv inaktiv</button>
{% else %}
    Inaktiv
    <span class="pull-right">(Hvis du gerne vil være aktive igen, så kontakt <a href="mailto:best@fredagscafeen.dk">best@fredagscafeen.dk</a>)</span>
{% endif %}
</p>
{% if not object.isActiveBartender %}
    <p>Husk at du som inaktiv bartender ikke kan komme til bartenderarrangementerne.</p>
{% endif %}
<br>
<p><b>Mailinglist status:</b>
{% if object.is_on_mailing_list %}
    På mailinglisten
    {% if not object.isActiveBartender %}
        <button type="submit" class="btn btn-danger pull-right" name="unsubscribe_maillist">Meld dig af mailinglisten</button>
    {% endif %}
{% else %}
    Ikke på mailinglisten
    <button type="submit" class="btn btn-success pull-right" name="subscribe_maillist">Meld dig på mailinglisten</button>
{% endif %}
</p>
<br>
{% bootstrap_form form %}

<label>Datoer, hvor du ikke har mulighed for at stå i bar:</label>
<table id="unavailable_dates_table" class="table table-bordered table-hover">
<tbody>
{% for first_date, dates in dates_table %}
    <tr>
        <th scope="row">
            {{ first_date | date:'M Y' }}:
        </th>
    {% for id, date, checked in dates %}
        <td {% if checked %}class="danger"{% endif %}>
            <label><input type="checkbox" name="unavailable_ordinals" value="{{ id }}" {% if checked %}checked{% endif %}> {{ date.day }}.</label>
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>
{% buttons %}
    {% bootstrap_button "Gem" button_type="submit" icon="floppy-disk" button_class="btn-primary" %}
{% endbuttons %}
</form>
{% else %}
<p><b>{{ user.email }} er ikke bartender.</b></p>
{% endif %}

{% endblock %}
