{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h2 id="bartenders">
	{% translate "Bartendere" %}
	<a href="#bartenders" class="section-link">#</a>
</h2>

<div class="row">
	<div class="col-md-6 mb-3">
		<ul class="list-group">
			<li class="fw-bold list-group-item list-group-item-primary">{% translate "Nuværende" %} <span class="badge text-bg-primary rounded-pill">{{ bartenders.count }}</span></li>
			{% for bartender in bartenders %}
				<li class="list-group-item list-group-item-light">{{ bartender.name }} (<code class="bg-danger-subtle px-1 rounded">{{ bartender.username }}</code>)</li>
			{% endfor %}
		</ul>
	</div>

	<div class="col-md-6 mb-3">
		<ul class="list-group">
			<li class="fw-bold list-group-item list-group-item-danger">{% translate "Tidligere" %} <span class="badge text-bg-danger rounded-pill">{{ inactive_bartenders.count }}</span></li>
			{% for bartender in inactive_bartenders %}
				<li class="list-group-item list-group-item-light">{{ bartender.name }} (<code class="bg-danger-subtle px-1 rounded">{{ bartender.username }}</code>)</li>
			{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}
