{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap5 bootstrap_icons %}

{% block extrahead %}
<script src="{% static 'js/timesheet.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'js/timesheet-white.min.css' %}">
<link rel="stylesheet" href="{% static 'js/timesheet-black.min.css' %}">
<style>
#timesheet {
	width: auto;
	height: auto;
}
#timesheet .scale section {
	width: 75px;
}
</style>
{% endblock %}

{% block content %}

{% load static %}

<div class="mb-3" id="accordion">
	{% for board in boards %}
	{% with active_board=forloop.first %}
		<div class="card mb-2">
			<div class="card-header">
				<div class="row">
					<div class="col-auto me-auto">
						<a class="fw-medium common" data-bs-toggle="collapse" href="#collapse{{ forloop.counter }}" role="button">
							{% translate "Bestyrelsen" %} {{ board.period }}
						</a>
					</div>
					<div class="col-auto">
						{% if user.is_staff %}
							<a class="common" href="/admin/bartenders/boardmemberperiod/{{ board.period.id }}/change/">
								{% translate "Edit" %}
							</a>
						{% endif %}
					</div>
				</div>
			</div>
			<ul id="collapse{{ forloop.counter }}" class="list-group list-group-flush collapse{% if forloop.first %} show{% endif %}" data-bs-parent="#accordion">
				<li class="list-group-item">
					<div class="row p-2">
						{% if board.chairman %}
						<div class="col-md-6 d-flex border border-primary p-3">
							{% if board.chairman.image %}
							<div class="board-image" style="background-image: url({{ board.chairman.image.url }});"></div>
							{% else %}
							<div class="board-image" style="background-image: url({% static 'images/logo.png' %});"></div>
							{% endif %}
							<div class="ms-3 d-flex flex-column justify-content-center">
								<b>{{ board.chairman.responsibilities }}</b>
								<em>{{ board.chairman.title }}</em>
								<span>{{ board.chairman.bartender.name }} (<code class="bg-danger-subtle px-1 rounded">{{ board.chairman.bartender.username }}</code>)</span>
								{% if active_board %}<a class="common" href="mailto:{{ board.chairman.alias }}@{{ DOMAIN }}">{{ board.chairman.alias }}@{{ DOMAIN }}</a>{% endif %}
							</div>
						</div>
						{% endif %}
						{% if board.treasurer %}
						<div class="col-md-6 d-flex border border-primary p-3">
							{% if board.treasurer.image %}
							<div class="board-image" style="background-image: url({{ board.treasurer.image.url }});"></div>
							{% else %}
							<div class="board-image" style="background-image: url({% static 'images/logo.png' %});"></div>
							{% endif %}
							<div class="ms-3 d-flex flex-column justify-content-center">
								<b>{{ board.treasurer.responsibilities }}</b>
								<em>{{ board.treasurer.title }}</em>
								<span>{{ board.treasurer.bartender.name }} (<code class="bg-danger-subtle px-1 rounded">{{ board.treasurer.bartender.username }}</code>)</span>
								{% if active_board %}<a class="common" href="mailto:{{ board.treasurer.alias }}@{{ DOMAIN }}">{{ board.treasurer.alias }}@{{ DOMAIN }}</a>{% endif %}
							</div>
						</div>
						{% endif %}
					</div>
					<p class="m-0 fw-light">{% translate "Menige bestyrelsesmedlemmer" %} <span class="badge text-bg-secondary rounded-pill">{{ board.commons|length }}</span></p>
					<div class="row p-2">
						{% for boardmember in board.commons %}
							{% if boardmember.is_common %}
							<div class="col-md-6 d-flex border p-3">
								{% if boardmember.image %}
								<div class="board-image" style="background-image: url({{ boardmember.image.url }});"></div>
								{% else %}
								<div class="board-image" style="background-image: url({% static 'images/logo.png' %});"></div>
								{% endif %}
								<div class="ms-3 d-flex flex-column justify-content-center">
									<b>{{ boardmember.responsibilities }}</b>
									<em>{{ boardmember.title }}</em>
									<span>{{ boardmember.bartender.name }} (<code class="bg-danger-subtle px-1 rounded">{{ boardmember.bartender.username }}</code>)</span>
									{% if active_board %}<a class="common" href="mailto:{{ boardmember.alias }}@{{ DOMAIN }}">{{ boardmember.alias }}@{{ DOMAIN }}</a>{% endif %}
								</div>
							</div>
							{% endif %}
						{% endfor %}
					</div>
					{% if board.substitutes|length > 0 %}
						<p class="m-0 fw-light">{% translate "Bestyrelsessuppleanter" %} <span class="badge text-bg-secondary rounded-pill">{{ board.substitutes|length }}</span></p>
						<div class="row p-2">
							{% for boardmember in board.substitutes %}
								{% if boardmember.is_substitute %}
								<div class="col-md-6 d-flex border p-3">
									{% if boardmember.image %}
									<div class="board-image" style="background-image: url({{ boardmember.image.url }});"></div>
									{% else %}
									<div class="board-image" style="background-image: url({% static 'images/logo.png' %});"></div>
									{% endif %}
									<div class="ms-3 d-flex flex-column justify-content-center">
										<b>{{ boardmember.responsibilities }}</b>
										<em>{{ boardmember.title }}</em>
										<span>{{ boardmember.bartender.name }} (<code class="bg-danger-subtle px-1 rounded">{{ boardmember.bartender.username }}</code>)</span>
										{% if active_board %}<a class="common" href="mailto:{{ boardmember.alias }}@{{ DOMAIN }}">{{ boardmember.alias }}@{{ DOMAIN }}</a>{% endif %}
									</div>
								</div>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
				</li>
			</ul>
		</div>
	{% endwith %}
	{% endfor %}
</div>

<h2 id="board_over_time">
	{% translate "Bestyrelsen gennem tiden" %}
	<a href="#board_over_time" class="section-link">#</a>
</h2>

<div id="timesheet-theme" class="white">
	<div id="timesheet"></div>
</div>

{{ timesheet_data.data | json_script:"timesheet_data" }}
<script>
var data = JSON.parse(document.getElementById('timesheet_data').textContent);
new Timesheet('timesheet',
	{{ timesheet_data.start }},
	{{ timesheet_data.end }},
	data
);
</script>
{% endblock %}
