{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block extrahead %}
<script src="{% static 'js/timesheet.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'js/timesheet-white.min.css' %}">
<link rel="stylesheet" href="{% static 'js/timesheet-black.min.css' %}">
<style>
#timesheet {
	width: auto;
	height: auto;
}
#timesheet .scale section {
	width: 75px;
}
</style>
{% endblock %}

{% block content %}

{% load static %}

<div>
	{% for period in periods %}
		<ul class="list-group pb-2">
			<li class="list-group-item list-group-item-secondary">
				<div class="row">
					<div class="col-auto me-auto">
						<a class="link-offset link-offset-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
							{% translate "Bestyrelsen" %} {{ period }}
						</a>
					</div>
					<div class="col-auto">
						{% if user.is_staff %}
							<a class="link-offset link-offset-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/admin/bartenders/boardmemberperiod/{{ period.id }}/change/">
								{% translate "Edit" %}
							</a>
						{% endif %}
					</div>
				</div>
			</li>
			<li id="collapse{{ forloop.counter }}" class="list-group-item {% if forloop.first %} in{% endif %}">
				<div class="row p-2">
					{% for boardmember in period.boardmember_set.all %}
						{% if boardmember.is_chairman %}
						<div class="col-md-6 d-flex border border-primary p-3">
							{% if boardmember.image %}
							<div class="board-image" style="background-image: url({{ boardmember.image.url }});"></div>
							{% else %}
							<div class="board-image" style="background-image: url({% static 'images/logo.png' %});"></div>
							{% endif %}
							<div class="ms-3 d-flex flex-column justify-content-center">
								<b>{{ boardmember.responsibilities }}</b>
								<em>{{ boardmember.title }}</em>
								<span>{{ boardmember.bartender.name }} (<code>{{ boardmember.bartender.username }}</code>)</span>
							</div>
						</div>
						{% endif %}
					{% endfor %}
					{% for boardmember in period.boardmember_set.all %}
						{% if boardmember.is_treasurer %}
						<div class="col-md-6 d-flex border border-primary p-3">
							{% if boardmember.image %}
							<div class="board-image" style="background-image: url({{ boardmember.image.url }});"></div>
							{% else %}
							<div class="board-image" style="background-image: url({% static 'images/logo.png' %});"></div>
							{% endif %}
							<div class="ms-3 d-flex flex-column justify-content-center">
								<b>{{ boardmember.responsibilities }}</b>
								<em>{{ boardmember.title }}</em>
								<span>{{ boardmember.bartender.name }} (<code>{{ boardmember.bartender.username }}</code>)</span>
							</div>
						</div>
						{% endif %}
					{% endfor %}
				</div>
				<!--{% translate "Menige bestyrelsesmedlemmer" %}-->
				<div class="row p-2">
					{% for boardmember in period.boardmember_set.all %}
						{% if boardmember.is_common %}
						<div class="col-md-6 d-flex border p-3">
							{% if boardmember.image %}
							<div class="board-image" style="background-image: url({{ boardmember.image.url }});"></div>
							{% else %}
							<div class="board-image" style="background-image: url({% static 'images/logo.png' %});"></div>
							{% endif %}
							<div class="ms-3 d-flex flex-column justify-content-center">
								<b>{{ boardmember.responsibilities }}</b>
								<em>{{ boardmember.title }}</em>
								<span>{{ boardmember.bartender.name }} (<code>{{ boardmember.bartender.username }}</code>)</span>
							</div>
						</div>
						{% endif %}
					{% endfor %}
				</div>
				<!--{% translate "Bestyrelsessuppleanter" %}-->
				<div class="row p-2">
					{% for boardmember in period.boardmember_set.all %}
						{% if boardmember.is_substitute %}
						<div class="col-md-6 d-flex border p-3">
							{% if boardmember.image %}
							<div class="board-image" style="background-image: url({{ boardmember.image.url }});"></div>
							{% else %}
							<div class="board-image" style="background-image: url({% static 'images/logo.png' %});"></div>
							{% endif %}
							<div class="ms-3 d-flex flex-column justify-content-center">
								<b>{{ boardmember.responsibilities }}</b>
								<em>{{ boardmember.title }}</em>
								<span>{{ boardmember.bartender.name }} (<code>{{ boardmember.bartender.username }}</code>)</span>
							</div>
						</div>
						{% endif %}
					{% endfor %}
				</div>
			</li>
		</ul>
	{% endfor %}
</div>

<h1>{% translate "Bestyrelsen gennem tiden" %}</h1>

<div id="timesheet-theme" class="white">
	<div id="timesheet"></div>
</div>

{{ timesheet_data.data | json_script:"timesheet_data" }}
<script>
var data = JSON.parse(document.getElementById('timesheet_data').textContent);
new Timesheet('timesheet',
	{{ timesheet_data.start }},
	{{ timesheet_data.end }},
	data
);
</script>
{% endblock %}
