{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap5 bootstrap_icons %}

{% block content %}

<p>{% translate "Velkommen til Fredagscaféens webside, her kan du finde information om åbningstider, sortiment, udlejning af fadølsanlæg og grill mm." %}</p>

<div class="row">
	<div class="col-md-8">
        <h2 id="application">
            {% translate "Bartendertilmelding" %}
            <a href="#application" class="section-link">#</a>
        </h2>
        <p>{% translate "Er du interesseret i at være med i et fedt fællesskab hvor vi hygger bag baren og serverer nogle kolde drikkevarer?" %}</p>
        <p>{% translate "Du vil som bartender få ca. 2 vagter pr. semester, hvor du er med til at sikre at alle får slukket tørsten." %}<p>
        <p>{% translate "Udover dette inviteres du til vores årlige arrangementer for bartendere, såsom Sommerfesten og Julefrokosten. Derudover vil der løbende være fede begivenheder, såsom ølsmagning og lign. Alt sammen gratis for bartendere." %}</p>
        <p>{% translate "Det er en god idé at læse" %} <a class="link-offset link-offset-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-primary" href="{{ barshift_guide_url }}" alt="guide">{% translate "barvagt-guiden" %}</a>
            {% translate "før du tilmelder dig, så du ved hvad en typisk vagt i Fredagscaféen indebærer." %}</p>
        {% if config.REGISTRATION_OPEN %}
            <form method="post" action="/{{ LANGUAGE_CODE }}/">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    {% translate "Indsend" as BUTTON_TEXT %}
                    <button type="submit" class="btn btn-primary">
                        <i>{% bs_icon 'send-fill' size='1.0em' %}</i> {{ BUTTON_TEXT }}
                    </button>
                {% endbuttons %}
            </form>
        {% else %}
            <b>{% translate "Bartendertilmeldingen er lukket." %}</b>
        {% endif %}
    </div>
</div>

{% endblock %}
