{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap_icons %}
{% block content %}
<div style="overflow: auto;">
	{% if shift_streaks %}
		<table>
			<tr>
				<th>{% translate "Placering" %}</th>
				<th>{% translate "Streak" %}</th>
				<th>{% translate "Start - Slut" %}</th>
			</tr>
			<tbody>
				{% for shift_streak in shift_streaks %}
					<tr>
						<td class="col-md-1">{{ forloop.counter }}</td>
						<td class="col-md-1">{{ shift_streak.streak }}{% if shift_streak.is_current_shift %}{% bs_icon 'fire' size='0.8em' %}{% endif%}</td>
						<td>{{ shift_streak.start_datetime|date:"d M, Y" }} - {{ shift_streak.end_datetime|date:"d M, Y" }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
</div>
{% endblock %}
