{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}

<h2>Bartender events</h2>

<p>
{% if show_all %}
<a href=".">Vis nuværende</a>
{% else %}
<a href="?show_all">Vis også tidligere</a>
{% endif %}
</p>

<p><a href="{% url 'event_feed' %}">Tilføj til kalender</a></p>

{% if not bartender %}
<p><b>Du er ikke logget ind som bartender og kan derfor ikke tilmelde dig events. <a href="/login/?next=/events/">Klik for at logge ind.</a></b></p>
{% elif not may_attend %}
<p><b>Du har ikke lov til at tilmelde dig events, medmindre du har fået eksplicit lov af bestyrelsen.</b></p>
<p>Normalt kan man kun tilmelde sig events, hvis man opfylder et af følgende krav:
<ul>
	<li>Man er aktiv bartender.</li>
	<li>Man har været i den forrige bestyrelse.</li>
	<li>Man har haft en barvagt i en barvagtplansperiode, som sluttede for mindre end en måned siden.</li>
</ul>
</p>
{% endif %}

{% for events_data in events_data %}
	{% with events_data.event as event %}
		<h3>{{ event.start_datetime.date }} - {{ event.name }}</h3>
		<p><b>{{ event.start_datetime }}</b> til <b>{{ event.end_datetime }}</b>.</p>
		<p><b>Tilmeldingsfrist:</b> {{ event.response_deadline }}{% if event.deadline_exceeded %} (for sent){% endif %}</p>
		<p><b>Lokation:</b> {{ event.location }}</p>
		<p><b>Beskrivelse:</b></p>
		<p style="white-space: pre-line;">{{ event.description }}</p>
		{% if events_data.form %}
			<h4>Tilmelding</h4>
			<form method="post">
				<fieldset{% if event.deadline_exceeded %} disabled{% endif %}>
					{% csrf_token %}
					<input type="hidden" name="event_id" value="{{ event.id }}">
					{% bootstrap_form events_data.form %}
					{% buttons %}
						{% bootstrap_button "Gem" button_type="submit" icon="floppy-disk" button_class="btn-primary" %}
					{% endbuttons %}
				</fieldset>
			</form>
		{% endif %}
		<div class="panel-group" role="tablist">
			<div class="panel panel-default">
				<div class ="panel-heading" role="tab" id="coll">
					<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" href="#collapse_{{ forloop.counter }}" aria-expanded="false">
							Tilmeldte ({{ event.attending_count }})
						</a>
					</h4>
				</div>
				<div id="collapse_{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel">
					<div class="panel-body">
						<table class="table table-striped tablesorter">
							<thead>
								<tr>
									<th>Navn</th>
									{% for choice in event.sorted_choices %}
										<th>{{ choice.name }}</th>
									{% endfor %}
								</tr>
							</thead>
							<tbody>
								{% for response in event.sorted_responses %}
									<tr>
										{% if response.attending %}
											<td>{{ response.bartender.name }}</td>
											{% for option in response.get_sorted_options %}
												<td>{{ option.option }}</td>
											{% endfor %}
										{% endif %}
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	{% endwith %}
{% endfor %}

<script>
$(function () {
	$(".tablesorter").tablesorter();
});
function updateRequired() {
	$('form').each(function (i, form) {
		var attending = $(form).find('[name="attending"]').val() === 'True';
		$(form).find('select[name!="attending"]').each(function (i, select) {
			$(select).prop('required', attending);
			$(select).prop('disabled', !attending);
		});
	});
}
$('[name="attending"]').change(updateRequired);
updateRequired();
</script>

{% endblock %}
