{% extends 'base.html' %}

{% load bootstrap5 bootstrap_icons %}

{% block content %}
{% load i18n %}
{% load static %}

<h2 id="events">
	{% translate "Bartender events" %}
	<a href="#events" class="section-link">#</a>
</h2>

<div class="mb-2">
	<a class="btn btn-outline-dark btn-sm" href="{% url 'event_feed' %}" role="button">{% bs_icon 'calendar-week' %} iCal feed</a>
</div>

<div class="row m-2">
	<ul class="timeline">
		{% for events_data in events_data %}
			{% with events_data.event as event %}
			{% if events_data.year %}
			<li class="timeline-item mb-3">
				{{ events_data.year }}
			</li>
			{% endif %}
			<li class="timeline-item mb-3">
				<div class="col-lg-6 mb-2">
					<div class="card">
						{% if event.event_album.thumbnail %}
							<img src="{{ event.event_album.thumbnail.url }}" class="card-img-top event-image" alt="{{ event.name }}">
						{% endif %}
						<div class="card-body">
							<h4 class="card-title">{{ event.name }}</h4>
							<h6 class="card-subtitle mb-2 text-body-secondary"><i>{% bs_icon 'calendar-event' %}</i> <b>{{ event.start_datetime }}</b> {% translate "til" %} <b>{{ event.end_datetime }}</b>.</h6>
							<p class="mb-1"><i>{% bs_icon 'pin-map-fill' %}</i> {{ event.location }}</p>
							<p><i>{% bs_icon 'people-fill' %}</i> {{ event.attending_count }}</p>
							<a href="{{ event.id }}" class="card-link stretched-link"></a>
						</div>
						{% if not event.deadline_exceeded %}
							<div class="card-footer">
								<small class="text-body-secondary">
									<b>{% translate "Tilmeldingsfrist" %}:</b>
									{{ event.response_deadline }}
									{% if event.deadline_exceeded %} ({% translate "for sent" %}){% endif %}
								</small>
							</div>
						{% endif %}
					</div>
				</div>
			</li>
			{% endwith %}
		{% endfor %}
		<li class="timeline-item">
			<div>
				<p>
					{% if show_all %}
						<a class="btn btn-primary btn-sm" href=".">{% translate "Skjul tidligere" %}</a>
					{% else %}
						<a class="btn btn-outline-primary btn-sm" href="?show_all">{% translate "Vis tidligere" %}</a>
					{% endif %}
				</p>
			</div>
		</li>
	</ul>
</div>

<script>
$(function () {
	$(".tablesorter").tablesorter();
});
function updateRequired() {
	$('form').each(function (i, form) {
		var attending = $(form).find('[name="attending"]').val() === 'True';
		$(form).find('select[name!="attending"]').each(function (i, select) {
			$(select).prop('required', attending);
			$(select).prop('disabled', !attending);
		});
	});
}
$('[name="attending"]').change(updateRequired);
updateRequired();
</script>

{% endblock %}
