{% load i18n %}
{% load static %}
{% load django_bootstrap5 bootstrap_icons %}

<!-- Mobile view -->
<div class="m-2 d-lg-none" data-timeline-size="mobile">
    <div class="d-flex align-items-center">
        <div class="w-100 text-start">
            <div class="d-flex justify-content-between align-items-center">
                <h2>{% translate "Events" %}</h2>
                <div class="dropdown">
                    <button class="btn btn-outline-info btn-sm dropdown-toggle d-flex align-items-center gap-2" type="button" id="icalDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        {% bs_icon 'calendar-week' %} iCal Feed
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="icalDropdown">
                        <li>
                            <a class="dropdown-item d-flex align-items-center gap-2" href="{% url 'common_event_feed' %}">
                                <span class="badge bg-success" style="width: 12px; height: 12px; padding: 0; border-radius: 50%; display: inline-block;"></span>
                                {% translate "Public Events" %}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center gap-2" href="{% url 'event_feed' %}">
                                <span class="badge bg-primary" style="width: 12px; height: 12px; padding: 0; border-radius: 50%; display: inline-block;"></span>
                                {% translate "Bartender Events" %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="m-0">
        </div>
    </div>
    <div class="position-relative h-100" style="padding-left: 36px;">
        <div class="timeline-separator"></div>
        <ol class="timeline">
            {% if event_page_obj.has_previous %}
                <li class="timeline-item center timeline-navigation">
                    <a class="btn btn-outline-primary btn-sm" href="?events_per_page={{ events_per_page }}&event_page={{ event_page_obj.previous_page_number }}">{% translate "Vis nyere" %}</a>
                </li>
            {% endif %}
            {% for event_data in events_data %}
                {% with event_data.event as event %}
                    {% if event_data.year %}
                        <li class="timeline-item center">
                            <h4 class="fw-bold text-primary" id="year-{{ event_data.year }}">
                                {{ event_data.year }}
                            </h4>
                        </li>
                    {% endif %}

                    <li class="timeline-item right">
                        {% include 'components/event-card.html' with event=event future=event_data.future not_answered=event_data.not_answered %}
                    </li>
                {% endwith %}
            {% endfor %}
            {% if event_page_obj.has_next %}
                <li class="timeline-item center timeline-navigation">
                    <a class="btn btn-outline-primary btn-sm" href="?events_per_page={{ events_per_page }}&event_page={{ event_page_obj.next_page_number }}">{% translate "Vis tidligere" %}</a>
                </li>
            {% endif %}
        </ol>
    </div>
</div>

<!-- Desktop view -->
<div class="m-2 d-none d-lg-block" data-timeline-size="desktop">
    <div class="d-flex justify-content-evenly align-items-center">
        <div class="w-50 pe-4 text-start">
            <div class="d-flex justify-content-between align-items-center">
                <h2>{% translate "Public Events" %}</h2>
                <a class="btn btn-outline-info btn-sm d-flex align-items-center gap-2" href="{% url 'common_event_feed' %}" role="button">
                    {% bs_icon 'calendar-week' %} iCal feed
                </a>
            </div>
            <hr class="m-0">
        </div>
        <div class="w-50 ps-4 text-start">
            <div class="d-flex justify-content-between align-items-center">
                <h2>{% translate "Bartender Events" %}</h2>
                <a class="btn btn-outline-info btn-sm d-flex align-items-center gap-2" href="{% url 'event_feed' %}" role="button">
                    {% bs_icon 'calendar-week' %} iCal feed
                </a>
            </div>
            <hr class="m-0">
        </div>
    </div>
    <div class="position-relative h-100">
        <div class="timeline-separator"></div>
        <ol class="timeline">
            {% if event_page_obj.has_previous %}
                <li class="timeline-item center timeline-navigation">
                    <a class="btn btn-outline-primary btn-sm" href="?events_per_page={{ events_per_page }}&event_page={{ event_page_obj.previous_page_number }}">{% translate "Vis nyere" %}</a>
                </li>
            {% endif %}
            {% for event_data in events_data %}
                {% with event_data.event as event %}
                    {% if event_data.year %}
                        <li class="timeline-item center">
                            <h4 class="fw-bold text-primary" id="year-{{ event_data.year }}">
                                {{ event_data.year }}
                            </h4>
                        </li>
                    {% endif %}

                    <li class="timeline-item {% if event.is_bartender_event %}right{% else %}left{% endif %}">
                        {% include 'components/event-card.html' with event=event future=event_data.future not_answered=event_data.not_answered %}
                    </li>
                {% endwith %}
            {% endfor %}
            {% if event_page_obj.has_next %}
                <li class="timeline-item center timeline-navigation">
                    <a class="btn btn-outline-primary btn-sm" href="?events_per_page={{ events_per_page }}&event_page={{ event_page_obj.next_page_number }}">{% translate "Vis tidligere" %}</a>
                </li>
            {% endif %}
        </ol>
    </div>
</div>

<div class="row m-4">
    <p class="text-center text-dark m-0">{% translate "Showing" %} {{ event_page_obj.start_index }} {% translate "to" %} {{ event_page_obj.end_index }} {% translate "of" %} {{ event_page_obj.paginator.count }} {% translate "events" %}</p>
</div>
