{% extends "admin/base_site.html" %}

{% load staticfiles %}

{% block extrastyle %}
<style>
html, body, #container, #content {
	height: 100%;
	overflow-x: hidden;
}
object {
	margin-top: 2em;
	width: 100%;
	height: 75%;
}
</style>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
	<p>Server status: {% if connected %}Forbundet{% else %}Ikke forbundet!{% endif %}</p>
    {{ form.as_p }}
	<input type="submit" name="print_submit" value="Print">
	<input type="submit" name="print_test_submit" value="Print test side">
</form>
<object data="{{ bartab_url }}" type="application/pdf"></object>
{% endblock %}
