{% extends 'base.html' %}

{% block content %}

{% load items_extras %}
{% load static %}

<div class="row" id="sortiment-row">
	<div class="col-sm-6">
		<h2>
			Sortiment
			{% if items_data %}
			<div id="sortiment-count"> 
				   ({{ items_data | length }})
			</div>
			{% endif %}
		</h2>
	</div>

	{% if items_data %}
	<div class="col-sm-6" id="sortiment-search">	
		<input type="text" id="itemsSearchInput" placeholder="Søg" autofocus>
	</div>
	{% endif %}
</div>

{% if show_all %}
<a href=".">Vis kun ting på lageret</a>
{% else %}
<a href="?show_all">Vis også ting ikke på lageret</a>
{% endif %}


{% if items_data %}
<table class="table table-striped tablesorter" id="items">
	<thead>
		<tr>
			<th>Bryghus</th>
			<th>Navn</th>
			<th class="hidden-xs">Beholder</th>
			<th class="hidden-xs">Type</th>
			<th>Pris</th>
			{% if user.is_staff %}
				<th class="hidden-xs"></th>
			{% endif %}
		</tr>
		</thead>
	<tbody>
	{% for item in items_data %}
		<tr>
			<td>{{ item.brewery|default_if_none:"" }}</td>
			<td>{{ item.name }}</td>
			<td class="hidden-xs">{{ item.get_container_display }}</td>
			<td class="hidden-xs">{{ item.type|default_if_none:"" }}</td>
			<td>{{ item.price|floatformat:-2 }}</td>
			{% if user.is_staff %}
				<td class="hidden-xs"><a href="/admin/items/item/{{ item.id }}">Edit</a></td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>

<script src="{% static 'js/sortimentSearch.js' %}"></script>

{% else %}

	<span>Sortimentet er desværre tomt &#9785;</span>

{% endif %}
{% endblock %}
