{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap5 bootstrap_icons %}

{% block content %}

<p>
	{% blocktrans %}
	Her kan du se Fredagscaféens sortiment, samt mange af de ting vi er kendte for at sælge.
	Du finder du altid et stort sortiment af spændende og nye specialøl, for enhver smag, i baren.
	Vi har i Fredagscaféen et stort fokus på at have noget for alle, så derfor finder du også flere
	glutenfrie og alkoholfrie øl.
	{% endblocktrans %}
</p>

<div class="row">
	<div class="col-auto me-auto">
		<h2 id="selection">
			{% translate "Sortiment" %}
			{% if items_data %}
			<span class="badge text-bg-secondary">{{ items_data | length }}</span>
			{% endif %}
			<a href="#selection" class="section-link">#</a>
		</h2>
	</div>

	{% if items_data %}
	<div class="col-auto">
		<input class="rounded px-2 fs-5" type="text" id="itemsSearchInput" placeholder="{% translate "Søg i sortimentet" %}" autofocus>
	</div>
	{% endif %}
</div>

<div class="row mt-2">
	<div class="col">
		{% if show_all %}
		<a class="btn btn-primary btn-sm" href="." role="button">{% translate "Vis kun ting på lager" %}</a>
		{% else %}
		<a class="btn btn-outline-primary btn-sm" href="?show_all" role="button">{% translate "Vis også ting ikke på lager" %}</a>
		{% endif %}
	</div>
</div>

{% if items_data %}
	<div class="table-responsive-md">
		<table class="table table-striped tablesorter" id="items">
			<thead>
				<tr>
					<th>{% translate "Bryghus" %}<i>{% bs_icon 'arrows-collapse' size='1.0em' %}</i></span></th>
					<th class="filter-select filter-exact">{% translate "Navn" %}<i>{% bs_icon 'arrows-collapse' size='1.0em' %}</i></th>
					<th class="d-none d-lg-table-cell">{% translate "Type" %}<i>{% bs_icon 'arrows-collapse' size='1.0em' %}</i></th>
					<th class="d-none d-lg-table-cell">{% translate "Container" %}<i>{% bs_icon 'arrows-collapse' size='1.0em' %}</i></th>
					<th>{% translate "Pris" %}<i>{% bs_icon 'arrows-collapse' size='1.0em' %}</i></th>
					<th class="d-none d-lg-table-cell">{% translate "Status" %}<i>{% bs_icon 'arrows-collapse' size='1.0em' %}</i></th>
					<!--<th class="d-none d-lg-table-cell">{% translate "Image" %}</i></th>-->
					{% if user.is_staff %}
						<th class="d-none d-lg-table-cell"></th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
			{% get_current_language as LANGUAGE_CODE %}
			{% for item in items_data %}
				<tr>
					<td class="{% if not item.inStock %}bg-danger{% endif %}">{% if item.brewery_url %}<a class="common" href="{{ item.brewery_url }}" target="_blank">{% endif %}{{ item.brewery|default_if_none:"" }}{% if item.brewery_url %} <i>{% bs_icon 'box-arrow-up-right' size='1.0em' %}</i></a>{% endif %}</td>
					<td class="{% if not item.inStock %}bg-danger{% endif %}">{{ item.name|default_if_none:"" }}</td>
					<td class="d-none d-lg-table-cell {% if not item.inStock %}bg-danger{% endif %}">{{ item.type|default_if_none:"" }}</td>
					<td class="d-none d-lg-table-cell {% if not item.inStock %}bg-danger{% endif %}">{{ item.container|default_if_none:"" }}</td>
					<td class="{% if not item.inStock %}bg-danger{% endif %}">{{ item.price|floatformat:-2 }},-</td>
					<td class="d-none d-lg-table-cell {% if not item.inStock %}bg-danger{% endif %}">{% if item.inStock %}{% translate "På lager" %}{% else %}{% translate "Ikke på lager" %}{% endif %}</td>
					<!--<td class="d-none d-lg-table-cell {% if not item.inStock %}bg-danger{% endif %}">
						{% if item.image %}
						<div class="board-image" style="background-image: url({{ item.image.url }});"></div>
						{% else %}
						<div class="board-image" style="background-image: url({% static 'images/logo.png' %});"></div>
						{% endif %}
					</td>-->
					{% if user.is_staff %}
						<td class="d-none d-lg-table-cell {% if not item.inStock %}bg-danger{% endif %}"><a class="common" href="/admin/items/item/{{ item.id }}">{% translate "Edit" %}</a></td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<script src="{% static 'js/sortimentSearch.js' %}"></script>
{% else %}
	<p class="pt-2">{% translate "Sortimentet er desværre tomt" %} &#9785;</p>
{% endif %}

{% endblock %}
