{% extends 'plain_base.html' %}

{% block extrahead %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.css" integrity="sha256-cxYyFTq8AlfZjXRMeAy8KPHpmNVSpUNhnxQwNfUT0Lo=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js" integrity="sha256-GHC3xFbrevQ0aRcWg5JElUOncXYXxTtMOuA74cWAPTw=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.2/jquery.modal.min.css" integrity="sha256-6qWTvP5IX0taismXz5k2YE+fvvkWUtuUqOIrddYSv8E=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.2/jquery.modal.min.js" integrity="sha256-lw0IsO3Ev8CSVJXYsRVk88L9No90X3s1EKf87RGEiJQ=" crossorigin="anonymous"></script>

<style>
/*
   The page should be optimized for a screen size of 800 x 480 px.
*/
html, body, #scanner-container, #scanner-grid {
	width: 100%;
	height: 100%;
}
body {
	font-size: 4rem;
	padding: 4rem;
}
#scanner-container {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#scanner-grid {
	max-height: 480px;

	display: grid;
	grid-template-areas:
		"name    price"
		"barcode price"
		"input   input";
	grid-template-rows: auto 20% 30%;
	grid-template-columns: auto 40%;
	grid-gap: 2rem 1rem;
}
#scanner-item-name {
	grid-area: name;
}
#scanner-item-price {
	grid-area: price;
	font-size: 2em;
	justify-self: center;
	align-self: center;
}
#scanner-barcode-value {
	grid-area: barcode;
	align-self: end;
}
#scanner-input {
	grid-area: input;
	font-size: 1.5em;
	width: 100%;
}
#admin-mode {
{% if not user.is_staff %}
	display: none;
{% endif %}
	margin-top: 1em;
}
</style>
{% endblock %}

{% block body_content %}

<div id="scanner-container">
	<div id="scanner-grid">
		<div id="scanner-item-name"></div>
		<div id="scanner-item-price"></div>
		<div id="scanner-barcode-value"></div>
		<input id="scanner-input" type="text" autofocus placeholder="Stregkode">
	</div>

	<select id="scanner-item-select" style="width: 100%;"></select>
	<label id="admin-mode"><input id="admin-mode-checkbox" type="checkbox"> Admin mode</label>
</div>

<div id="replace-barcode-confirm" class="modal">
	<p>Erstat nuværende stregkode?</p>
	<p>Nuværende: <span id="previous-barcode"></span></p>
	<p>Ny: <span id="new-barcode"></span></p>
	<a id="replace-barcode-yes" href="#" rel="modal:close" class="btn btn-danger btn-block">Ja</a>
	<a id="replace-barcode-no" href="#" rel="modal:close" class="btn btn-block">Nej</a>
</div>

{{ items_data|json_script:"items_data" }}
{% csrf_token %}

<script>
var items_data = JSON.parse(document.getElementById('items_data').textContent);
var csrftoken = $('[name=csrfmiddlewaretoken]').val();
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function item_display(item) {
	var s = item.name;
	if (item.brewery) {
		s = item.brewery + ' ' + s;
	}
	return s;
}

function sort_by_key(arr, key) {
	arr.sort(function(a, b) {
		var ka = key(a);
		var kb = key(b);

		if (ka === kb) return 0;
		if (ka < kb) return -1;
		return 1;
	});
}

sort_by_key(items_data, item_display);

var barcode_to_item = {};
for (var i = 0; i < items_data.length; i++) {
	var item = items_data[i];
	if (item.barcode) {
		barcode_to_item[item.barcode] = item;
	}
}

var scanner_container = $('#scanner-container');
var scanner_input = $('#scanner-input');
var scanner_barcode_value = $('#scanner-barcode-value');
var scanner_input = $('#scanner-input');
var scanner_item_name = $('#scanner-item-name');
var scanner_item_price = $('#scanner-item-price');
var scanner_item_select = $('#scanner-item-select');
var admin_mode_checkbox = $('#admin-mode-checkbox');

scanner_item_select.append($('<option>').val(-1).text('-----'));
for (var i = 0; i < items_data.length; i++) {
	var item = items_data[i];
	scanner_item_select.append($('<option>').val(i).text(item_display(item)));
}
scanner_item_select.select2();

function toggle_dropdown(show) {
	scanner_item_select.next('.select2-container').toggle(show);
}
toggle_dropdown(false);

var current_barcode = null;
function set_scanned(item) {
	scanner_barcode_value.text(current_barcode);
	scanner_item_name.text(item_display(item));
	scanner_item_price.text(item.price.replace('.', ','));
}

scanner_input.keyup(function(e) {
	if (e.keyCode === 13) {
		var barcode = scanner_input.val();
		if (barcode === '') return;
		current_barcode = barcode;

		scanner_input.val('');
		scanner_barcode_value.text(current_barcode);

		var item = barcode_to_item[current_barcode];
		if (item) {
			set_scanned(item);
			toggle_dropdown(false);
		} else {
			scanner_item_name.text('Ikke fundet');
			scanner_item_price.text('?');

			if (admin_mode_checkbox.prop('checked')) {
				scanner_item_name.text('Ikke fundet, vælg ting:');
				scanner_item_select.val(-1);
				scanner_item_select.trigger('change');
				toggle_dropdown(true);
				scanner_item_select.select2('open');
			}
		}
	}
});

$('#replace-barcode-yes').click(function() {
	update_barcode();
});

$('#replace-barcode-no').click(function() {
	scanner_item_select.val(-1);
	scanner_item_select.trigger('change');
});

var current_item = null;
function update_barcode() {
	if (current_item.barcode !== '') {
		delete barcode_to_item[current_item.barcode];
	}
	current_item.barcode = current_barcode;
	barcode_to_item[current_barcode] = current_item;

	$.ajax({
		url: '/api/items/' + current_item.id + '/',
		method: 'PATCH',
		data: {
			barcode: current_barcode,
		},
	}).done(function() {
		set_scanned(current_item);
	}).fail(function(e) {
		alert('Ændring a stregkoden fejlede, se konsolen.');
	});

	toggle_dropdown(false);
	scanner_input.focus();
}

scanner_item_select.change(function() {
	var index = parseInt(scanner_item_select.val());
	if (index === -1) return;

	current_item = items_data[index];
	if (current_item.barcode !== current_barcode) {
		if (current_item.barcode !== '') {
			$('#previous-barcode').text(current_item.barcode);
			$('#new-barcode').text(current_barcode);
			$('#replace-barcode-confirm').modal({
				closeExisting: false
			});
		} else {
			update_barcode();
		}
	}
});
</script>
{% endblock %}
