{% extends 'jfu/upload_form.html' %}
{% load i18n %}
{% load static %}
{% block CSS_BOOTSTRAP %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}
{% block CSS_EXTRA %}
<style>
  #content, .content {
    background-color: rgb(18, 18, 18);
  }
  h1, h2, p, input {
    color: white;
  }
</style>
{% endblock %}

{% block UPLOAD_FORM_BUTTON_BAR_CONTROL %}
<button type="reset" class="btn btn-warning cancel">
  <i class="glyphicon glyphicon-ban-circle"></i>
  <span>{% translate "Cancel upload" %}</span>
</button>
{% endblock %}

{% block JS_INIT %}

        $('#fileupload').fileupload({

            formData: [
                { name: "csrfmiddlewaretoken", value: "{{ csrf_token }}" },
                { name: "object_id", value: "{{ object_id }}" },
            ],

            {% block JS_OPTS %}
              autoUpload: true,
            {% endblock %}

        });
{% endblock JS_INIT %}


{% comment %}
  Remove all blueimp gallery related stuf.
{% endcomment %}

{% block CSS_BLUEIMP_GALLERY %}
{% endblock %}

{% block MODAL_GALLERY %}
{% endblock %}

{% block JS_BLUEIMP_GALLERY %}
{% endblock %}
